.clearfix {
	@include clearfix;
}
img {
	width: 100%;
}
.no-scroll {
	overflow: hidden;
}
.breadcrumb {
	span, a {
		font-size: 1.25em;
		color: $red;
		padding: 0 8px;
	}
	a {
		@include transition(all .3s);
		&:hover {
			color: $purple;
		}
	}
	.breadcrumb-current {
		color: $purple;
	}
}
.nuit-blanche-logo {
	display: none;
	fill: #fff000;
}
.text-head {
	font-size: 2em;
	font-weight: $font-bold;
	background: $red;
	color: white;
	padding: 15px 0;
	max-width: 250px;
	margin: 0 auto;
	text-align: center;
	span {
		display: block;
		line-height: 1.2;
	}
	.eng-text-head {
		font-size: .75em;
	}
}
.back-to-index, .blob-content-next, .blob-content-previous {
	padding: 5px 20px;
	display: inline-block;
	text-decoration: none;
	font-size: 1.5em;
	border: 1px solid $red;
	background: none;
	margin-top: 30px;
	margin-right: 0.9375em;
	margin-left: 0.9375em;
	@include radius(30px);
	@include transition(all .3s);
	span {
		color: $red;
		@include transition(all .3s);
	}
	i {
		color: $red;
		margin-right: 10px;
		@include transition(all .3s);
	}
	&:hover {
		background: $red;
		text-decoration: none;
		span, i {
			color: white;
		}
	}
}
.blob-content-next {
	float: right;
	margin-bottom: 30px;
	i {
		margin-right: 0;
		margin-left: 10px;
	}
}
.blob-content-previous {
	margin-bottom: 30px;
}
.margin-0 {
	margin: 0;
}
.loader-top {
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	background: $yellow;
	overflow: hidden;
}
.loader-bottom {
	z-index: 9999;
	position: fixed;
	width: 100%;
	height: 50%;
	bottom: 0;
	left: 0;
	background: $yellow;
	overflow: hidden;
}
.header-bg-hack {
	&:before {
		display: none;
		content: "";
		background: #e0e0df;
		width: 999%;
		position: absolute;
		height: 300px;
		top: 0;
		left: -99%;
		right: -99%;
	}
	@include for-mid-foundation-up {
		&:before {
			display: block;
		}
	}
}
.padding-top-hack, .padding-top-hack-grey {
	padding-top: 30px!important;
	@include for-mid-foundation-up {
		padding-top: 150px!important;
	}
}
.padding-top-hack-grey {
	background: #e0e0df;
}
.route-blob-1 {
	width: 350px;
	height: 350px;
	position: absolute;
	left: -150px;
	top: 20%;
	z-index: 1;
}
.route-blob-2 {
	width: 150px;
	height: 150px;
	position: absolute;
	right: -50px;
	top: 43%;
	z-index: 1;
}
.pagination {
	display: flex;
	justify-content: center;
	margin-bottom: 80px;
	a {
		font-size: 1.375em;
		color: $default;
		padding: 0 15px;
		@include transition(all .3s);
		text-decoration: none;
		&:hover {
			color: $red;
		}
	}
	.active-page {
		color: $red;
	}
}