* {
	margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	outline: none;
	padding: 0;
	-moz-hyphens: none;
	-ms-hyphens: none;
	-webkit-hyphens: none;
	hyphens: none;
}
html {
	height: 100%;
}
// ::-webkit-scrollbar {
//     width: 0;  /* remove scrollbar space */
//     background: transparent;  /* optional: just make scrollbar invisible */
// }
body {
	font-family: 'Roboto', "Noto Sans TC", "儷黑 Pro", "LiHei Pro", "微軟正黑體", "Microsoft JhengHei", sans-serif;
	height: 100%;
	width: 100%;
	font-size: 12px;
	color: $default;
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
	margin: 0;
	background: #e0e0df;
	overflow-x: hidden;
}
.content {
	background: white;
}
.content-grey {
	background: #e0e0df;
}

