doctype html
html.no-js
  head
    block meta
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      title 白晝之夜
      meta(name='description', content='')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      meta(property='og:site_name', content='Eric Yen')
      meta(property='og:type', content='website')
      meta(property='og:title', content='Eric Yen')
      meta(property='og:url', content='')
      meta(property='og:image', content='')
      meta(property='og:description', content='')
      <meta name="apple-mobile-web-app-title" content="Eric Yen">
      <meta name="application-name" content="Eric Yen">
      <meta name="theme-color" content="#ffffff">
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js')
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBntq6m83YuB48ACjsHi2nJ54UPyD9z-5U")
      script(src='https://unpkg.com/scrollreveal/dist/scrollreveal.min.js')
      script(src='js/bootstrap.min.js')
      script(src='js/barba.min.js')
      script(src='js/anime.min.js')
      script(src='js/jquery.drawsvg.min.js')
      script(src='js/velocity.js')
      script(src='https://d1wo5a6yt2u5up.cloudfront.net/codepen/noise.js')
      script(src='js/map.js')
      script(src='js/app.js')
      link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:400,500,700')
      link(rel='stylesheet', href='https://fonts.googleapis.com/earlyaccess/notosanstc.css')
      link(rel='stylesheet', href='css/bootstrap-reboot.css')
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/solid.css', integrity="sha384-wnAC7ln+XN0UKdcPvJvtqIH3jOjs9pnKnq9qX68ImXvOGz2JuFoEiCjT8jyZQX2z", crossorigin="anonymous")
      link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css', integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6", crossorigin="anonymous")
      link(rel='stylesheet', href='css/bootstrap.css')
      link(rel='stylesheet', href='css/styles.css')
    block styles
    block script

  body#barba-wrapper
    .loader-top
    .loader-bottom
    //- .wrapper.barba-container
    block header
      include ../components/header.pug

    block main
      block content-wrapper
        block content-title
        block main-content
      block bottom-script