.blob-menu-wrap {
	margin-top: 50px;
	position: relative;
	background: white;
	min-height: 500px;
	@include for-480-only {
		min-height: 350px;
	}
	@include for-tablet-portrait-up {
		min-height: 450px;
	}
	@include for-768-up {
		min-height: 600px;
	}
	.blob-menu-back {
		width: 100%;
		height: 100%;
		position: relative;
	}
	.blob-menu-1, .blob-menu-2, .blob-menu-3, .blob-menu-4, .blob-menu-5, .blob-menu-6, .blob-menu-7, .blob-menu-8, .blob-menu-9 {
		position: absolute;
		a {
			display: block;
		}
		.blob-div {
			position: absolute;
			margin: auto;
			top: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-wrap: wrap;
			align-content: center;
		}
		span {
			display: block;
			width: 70%;
			margin: auto;
			font-size: 1em;
			color: white;
			text-align: center;
			@include transition(all .3s);
			@include for-tablet-portrait-up {
				font-size: 1.25em;
			}
			@include for-768-up {
				font-size: 1.875em;
			}
		}
		.eng-blob {
			font-size: 1em;
			line-height: 1.2;
			@include for-tablet-portrait-up {
				font-size: 1.125em;
			}
			@include for-768-up {
				font-size: 1.25em;
			}
		}
	}
	.blob-menu-1 {
		right: 45%;
		width: 70px;
		height: 70px;
		@include for-tablet-portrait-up {
			width: 100px;
			height: 100px;
		}
		@include for-768-up {
			width: 130px;
			height: 130px;
		}
	}
	.blob-menu-2 {
		left: 1%;
		top: 4%;
		width: 120px;
		height: 120px;
		@include transition(all .3s);
		@include for-tablet-portrait-up {
			width: 150px;
			height: 150px;
			top: 10%;
		}
		@include for-768-up {
			width: 200px;
			height: 200px;
		}
		@include for-tablet-landscape-up {
			left: 7%;
		}
	}
	.blob-menu-3 {
		left: 20%;
		top: 17%;
		width: 130px;
		height: 130px;
		@include transition(all .3s);
		@include for-480-only {
			top: 10%;
		}
		@include for-tablet-portrait-up {
			width: 180px;
			height: 180px;
			top: 15%;
		}
		@include for-768-up {
			width: 230px;
			height: 230px;
			left: 23%;
		}
		@include for-tablet-landscape-up {
			left: 26%;
		}
	}
	.blob-menu-4 {
		left: 46%;
		top: 28%;
		width: 140px;
		height: 140px;
		@include transition(all .3s);
		@include for-480-only {
			top: 15%;
			left: 42%;
		}
		@include for-tablet-portrait-up {
			width: 170px;
			height: 170px;
			top: 25%;
			left: 43%;
		}
		@include for-768-up {
			width: 200px;
			height: 200px;
			left: 48%;
		}
		@include for-mid-foundation-up {
			left: 44%;
		}
	}
	.blob-menu-5 {
		right: 2%;
		top: 4%;
		width: 160px;
		height: 160px;
		@include transition(all .3s);
		@include for-tablet-portrait-up {
			width: 200px;
			right: 5%;
			top: 10%;
		}
		@include for-768-up {
			width: 250px;
			height: 250px;
			right: 1%;
		}
		@include for-tablet-landscape-up {
			right: 5%;
		}
		@include for-mid-foundation-up {
			right: 9%;
			width: 300px;
			height: 300px;
		}
	}
	.blob-menu-6 {
		left: 3%;
		bottom: 50%;
		width: 90px;
		height: 90px;
		@include for-480-only {
			bottom: 38%;
		}
		@include for-tablet-portrait-up {
			left: 7%;
			bottom: 35%;
		}
		@include for-768-up {
			width: 100px;
			height: 100px;
			bottom: 34%;
		}
		@include for-tablet-landscape-up {
			left: 10%;
		}
		@include for-mid-foundation-up {
			left: 14%;
			bottom: 34%;
		}
	}
	.blob-menu-7 {
		left: 13%;
		bottom: 25%;
		width: 150px;
		height: 150px;
		@include for-480-only {
			bottom: 10%;
		}
		@include for-tablet-portrait-up {
			width: 200px;
			height: 200px;
			left: 16%;
			bottom: 7%;
		}
		@include for-768-up {
			width: 250px;
			height: 250px;
			bottom: 7%;
		}
		@include for-tablet-landscape-up {
			left: 20%;
		}
		@include for-mid-foundation-up {
			left: 23%;
		}
	}
	.blob-menu-8 {
		right: 35%;
		bottom: 7%;
		width: 120px;
		height: 120px;
		@include for-tablet-portrait-up {
			right: 30%;
			bottom: 5%;
			width: 160px;
			height: 160px;
		}
		@include for-768-up {
			width: 190px;
			height: 190px;
			bottom: 12%;
			right: 32%;
		}
		@include for-tablet-landscape-up {
			right: 35%;
		}
		@include for-mid-foundation-up {
			right: 38%;
		}
	}
	.blob-menu-9 {
		right: 5%;
		bottom: 18%;
		width: 160px;
		height: 160px;
		@include for-480-only {
			bottom: 10%;
		}
		@include for-tablet-portrait-up {
			width: 190px;
			height: 190px;
		}
		@include for-768-up {
			width: 230px;
			height: 230px;
			right: 5%;
			bottom: 3%;
		}
		@include for-tablet-landscape-up {
			right: 10%;
		}
		@include for-mid-foundation-up {
			right: 17%;
		}
	}
}