.blob {
  text-align: center;
  background: #e0e0df;
  padding-bottom: 0;
  height: 450px;
  width: 100%;
  @include for-480-only {
    height: 630px;
  }
  @include for-tablet-landscape-up {
    height: 950px;
    padding-bottom: 100px;
  }
}

.blob-mask {
  width: 100%;
  max-width: 200px;
  height: 200px;
  background: #e0e0df;
  @include radius(225px);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  z-index: 50;
  @include transition(all .3s);
  @include for-480-only {
    max-width: 300px;
    height: 300px;
    top: 150px;
  }
  @include for-tablet-landscape-up {
    max-width: 450px;
    height: 450px;
    top: 240px;
  }
}
.blob-shadow {
  width: 100%;
  max-width: 200px;
  height: 200px;
  background: #e0e0df;
  @include radius(225px);
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 150px;
  box-shadow: 0 0 500px 5px rgba(0,0,0,0.3);
  z-index: 1;
  @include transition(all .3s);
  @include for-480-only {
    max-width: 300px;
    height: 300px;
    top: 150px;
  }
  @include for-tablet-landscape-up {
    max-width: 450px;
    height: 450px;
    top: 240px;
  }
}