#index-logo {
	position: absolute;
	top: 100px;
	left: 0;
	right: 0;
	margin: auto;
	width: 80%;
	max-width: 450px;
	z-index: 60;
	@include transition(all .3s);
	@include for-480-only {
		width: 100%;
	}
	@include for-tablet-landscape-up {
		max-width: 800px;
		height: 450px;
		top: 165px;
		width: 100%;
	}
}