#index-carousel, #work-carousel {
	position: relative;
	margin-top: 0;
	z-index: 100;
	padding-bottom: 0;
	background: #e0e0df;
	@include for-480-only {
		height: 300px;
		padding-bottom: 30px;
	}
	@include for-tablet-landscape-up {
		margin-top: -330px;
		padding-bottom: 0;
	}
	.carousel-item {
		.d-block {
			width: 100%;
			height: 180px;
			background: center center no-repeat;
			background-size: cover;
			opacity: 0.8;
			@include for-480-only {
				height: 300px;
			}
		}
	}
}
#work-carousel {
	margin-top: 0;
	height: 180px;
	@include for-480-only {
		height: 300px;
		padding-bottom: 30px;
	}
	@include for-tablet-landscape-up {
		height: 600px;
		padding-bottom: 30px;
	}
	.carousel-item {
		.d-block {
			height: 180px;
			@include for-480-only {
				height: 300px;
			}
			@include for-tablet-landscape-up {
				height: 600px;
			}
		}
	}
	.carousel-control-next-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e73828' viewBox='0 0 34.49 34.49'%3E%3Cpath d='M17.25,0A17.25,17.25,0,1,0,34.49,17.25,17.25,17.25,0,0,0,17.25,0ZM22.5,18.66l-7.57,7.57L13.5,24.82l7.57-7.57L13.5,9.67l1.42-1.42,7.57,7.57,1.42,1.42Z'/%3E%3C/svg%3E")
	}
	.carousel-control-prev-icon {
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23e73828' viewBox='0 0 34.49 34.49'%3E%3Cpath d='M0,17.25A17.25,17.25,0,1,0,17.25,0,17.25,17.25,0,0,0,0,17.25Zm10.58,0L12,15.83l7.57-7.57L21,9.67l-7.57,7.57L21,24.82l-1.42,1.42L12,18.66Z'/%3E%3C/svg%3E")
	}
}
