.nav-tabs {
	padding: 0 15px 1px 15px;
	@include for-tablet-portrait-up {
		padding: 0 70px 1px 70px;
	}
}
#map {
	width: 100%;
	height: 600px;
	margin: 0;
	padding: 0;
	.gm-info-window {
		padding: 20px 0 0 20px;
		text-align: center;
		width: 100%;
		max-width: 300px;
		img {
			width: 100%;
			margin: 0 auto 15px auto;
		}
		p {
			color: $default;
			margin-bottom: 5px;
			font-weight: normal;
			text-align: left;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		.gm-info-window-header {
			font-size: 1.375em;
		}
		.gm-info-window-link {
			text-align: center;
			margin-top: 20px;
			display: flex;
			justify-content: space-around;
			a {
				text-decoration: none;
				color: $red;
				font-weight: normal;
				@include transition(all .3s);
				&:hover {
					color: $purple;
				}
			}
		}
	}
}
.map-download-wrap {
	margin: 40px 0 0 0;
	text-align: right;
	button {
		margin-right: 16px;
		outline: none;
		border: 2px solid $red;
		padding: 10px 15px;
		font-size: 1.25em;
		color: $red;
		background: none;
		@include radius(10px);
		@include transition(all .3s);
		&:hover {
			color: white;
			background: $red;
		}
	}
}
.map-infoPanel-wrap {
	width: 100%;
	height: auto;
	margin-top: 60px;
	@include for-480-only {
		max-width: 100%!important;
	}
	.pagination {
		width: 100%;
		display: flex;
		justify-content: center;
		span {
			display: inline-block;
			padding: 10px;
			font-size: 1.25em;
			color: $red;
			cursor: pointer;
			@include transition(all .3s);
			&:hover {
				color: $purple;
			}
		}
		.page-active {
			color: $purple;
		}
	}
}
.infoPanel-item-wrap {
	margin-bottom: 40px;
	.infoPanel-item {
		width: 100%;
		height: 100%;
		padding-top: 15px;
		display: flex;
		justify-content: space-around;
		.infoPanel-indicator {
			width: 120px;
			text-align: right;
			display: inline-block;
			height: 100%;
			vertical-align: top;
			position: relative;
			img {
				width: 100%;
				max-width: 40px;
			}
			p {
				font-size: 1.25em;
				color: white;
				padding: 5px 0;
				margin-bottom: 0;
				width: 100%;
				text-align: center;
				position: absolute;
				bottom: 0;
			}
		}
		.infoPanel-description {
			display: inline-block;
			width: 100%;
			max-width: 200px;
			margin: 0 15px;
			@include for-mid-foundation-up {
				max-width: 200px;
			}
			@include for-desktop-up {
				max-width: 250px;
			}
			p {
				margin-bottom: 5px;
			}
			p.infoPanel-artist {
				margin-bottom: 10px;
				font-size: 1.125em;
			}
		}
		.infoPanel-link {
			display: inline-block;
			width: 120px;
			height: 100%;
			vertical-align: top;
			position: relative;
			@include for-mid-foundation-up {
				width: 120px;
			}
			@include for-desktop-up {
				width: 140px;
			}
			div {
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				height: 100%;
				vertical-align: top;
				a {
					display: block;
					padding: 5px 0;
					width: 120px;
					align-self: center;
					text-align: center;
					text-decoration: none;
					@include transition(all .3s);
				}
			}
		}
	}
}
.infoPanel-item-purple {
	border-top: 4px solid $purple;
	border-bottom: 4px solid $purple;
	@include transition(all .3s);
	.infoPanel-indicator {
		p {
			background: $purple;
		}
	}
	.infoPanel-description {
		h5 {
			color: $purple;
		}
	}
	.infoPanel-link {
		div a {
			border: 1px solid $purple;
			color: $purple;
			&:hover {
				background: $purple;
				color: white;
			}
		}
	}
	&:hover {
		background: rgba(95,25,133,.1);
	}
}
.infoPanel-item-red {
	border-top: 4px solid $red;
	border-bottom: 4px solid $red;
	@include transition(all .3s);
	.infoPanel-indicator {
		p {
			background: $red;
		}
	}
	.infoPanel-description {
		h5 {
			color: $red;
		}
	}
	.infoPanel-link {
		div a {
			border: 1px solid $red;
			color: $red;
			&:hover {
				background: $red;
				color: white;
			}
		}
	}
	&:hover {
		background: rgba(231,56,40,.1);
	}
}
.infoPanel-item-green {
	border-top: 4px solid $green;
	border-bottom: 4px solid $green;
	@include transition(all .3s);
	.infoPanel-indicator {
		p {
			background: $green;
		}
	}
	.infoPanel-description {
		h5 {
			color: $green;
		}
	}
	.infoPanel-link {
		div a {
			border: 1px solid $green;
			color: $green;
			&:hover {
				background: $green;
				color: white;
			}
		}
	}
	&:hover {
		background: rgba(0,161,153,.1);
	}
}
.infoPanel-item-pink {
	border-top: 4px solid $pink;
	border-bottom: 4px solid $pink;
	@include transition(all .3s);
	.infoPanel-indicator {
		p {
			background: $pink;
		}
	}
	.infoPanel-description {
		h5 {
			color: $pink;
		}
	}
	.infoPanel-link {
		div a {
			border: 1px solid $pink;
			color: $pink;
			&:hover {
				background: $pink;
				color: white;
			}
		}
	}
	&:hover {
		background: rgba(229,19,115,.1);
	}
}