
<div class="blob-menu-wrap">
  <div class="blob-menu-1"><a href="art.html">
      <div class="blob-div"><span>藝</span><span class="eng-blob">Art</span></div></a></div>
  <div class="blob-menu-2"><a href="hun.html">
      <div class="blob-div"><span>出來「混」</span><span class="eng-blob">hún</span></div></a></div>
  <div class="blob-menu-3"><a href="reversed-city.html">
      <div class="blob-div"><span>點島之城</span><span class="eng-blob">The Reversed City</span></div></a></div>
  <div class="blob-menu-4"><a href="dresscode.html">
      <div class="blob-div"><span>中山裝</span><span class="eng-blob">Dresscode</span></div></a></div>
  <div class="blob-menu-5"><a href="local-participant.html">
      <div class="blob-div"><span>在地參與</span><span class="eng-blob">Local Participant</span></div></a></div>
  <div class="blob-menu-7"><a href="business.html">
      <div class="blob-div"><span>企</span><span class="eng-blob">Business</span></div></a></div>
  <div class="blob-menu-8"><a href="global-network.html">
      <div class="blob-div"><span>全球白晝</span><span class="eng-blob">Global Network</span></div></a></div>
  <div class="blob-menu-9"><a href="zhong.html">
      <div class="blob-div"><span>中山北路</span><span class="eng-blob">Zhong</span></div></a></div>
</div>