
<div class="index-route-wrap" id="route-map">
  <div class="index-route-head">
    <h4 class="text-head"><span>白晝攻略</span><span class="eng-text-head">Guide</span></h4>
  </div>
  <div class="index-route-filter">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist"><a class="nav-item nav-link active" id="nav-north-tab" data-toggle="tab" href="#nav-north" role="tab" aria-controls="nav-north" aria-selectred="true"> <span>北區攻略</span><span class="eng-nav-item">Northern Area</span></a><a class="nav-item nav-link" id="nav-south-tab" data-toggle="tab" href="#nav-south" role="tab" aria-controls="nav-south" aria-selectred="false"> <span>南區攻略</span><span class="eng-nav-item">Southern Area</span></a></div>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-north" role="tabpanel" aria-labelledby="nav-north-tab"> 
          <div class="north-location-wrap">
            <div class="north-location location-active" tag="all"><span>北區-全部</span><span class="eng-route">Northern All</span></div>
            <div class="north-location" tag="mrt-yuanshan-station"><span>圓山站都邊</span><span class="eng-route">Around MRT Yuanshan Station</span></div>
            <div class="north-location" tag="taipei-fine-art-museum"><span>台北市立美術館周邊</span><span class="eng-route">Around Taipei Fine Art Museum</span></div>
            <div class="north-location" tag="expo-hall"><span>舞蝶館周邊</span><span class="eng-route">Around Expo Hall</span></div>
            <div class="north-location" tag="st-christopher-church"><span>聖多福教堂周邊</span><span class="eng-route">Around St. Christopher Church</span></div>
          </div>
          <div class="north-type-filter-wrap">
            <div class="north-type-filter type-black type-active" tag="type-all"><span>顯示所有</span><span class="eng-type">Display All</span></div>
            <div class="north-type-filter type-purple" tag="type-visual"><span>裝置作品</span><span class="eng-type">Visual Art Work</span></div>
            <div class="north-type-filter type-red" tag="type-show"><span>表演活動</span><span class="eng-type">Performance</span></div>
            <div class="north-type-filter type-green" tag="type-interaction"><span>體驗活動</span><span class="eng-type">Activity</span></div>
            <div class="north-type-filter type-pink" tag="type-program"><span>響應串連</span><span class="eng-type">Off-Program</span></div>
          </div>
        </div>
        <div class="tab-pane fade" id="nav-south" role="tabpanel" aria-labelledby="nav-south-tab">
          <div class="south-location-wrap">
            <div class="south-location location-active" tag="all"><span>南區-全部</span><span class="eng-route">Southern All</span></div>
            <div class="south-location" tag="mrt-shuanglian-station"><span>雙連站周邊</span><span class="eng-route">Around MRT Shuanglian Station</span></div>
            <div class="south-location" tag="mrt-zhongshan-station"><span>中山站周邊</span><span class="eng-route">Around MRT Zhongshan Station</span></div>
            <div class="south-location" tag="nanjing-linsen-intersection"><span>南京林森路口週邊</span><span class="eng-route">Around Nanjing Linsen Intersection</span></div>
            <div class="south-location" tag="museum-of-contemporary-art"><span>台北當代藝術館周邊</span><span class="eng-route">Around Museum of Contemporary Art</span></div>
          </div>
          <div class="south-type-filter-wrap">
            <div class="south-type-filter type-black type-active" tag="type-all"><span>顯示所有</span><span class="eng-type">Display</span></div>
            <div class="south-type-filter type-purple" tag="type-visual"><span>裝置作品</span><span class="eng-type">Visual Art Work</span></div>
            <div class="south-type-filter type-red" tag="type-show"><span>表演活動</span><span class="eng-type">Performance</span></div>
            <div class="south-type-filter type-green" tag="type-interaction"><span>體驗活動</span><span class="eng-type">Activity</span></div>
            <div class="south-type-filter type-pink" tag="type-program"><span>響應串連</span><span class="eng-type">Off-Program</span></div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<div id="map"></div>
<div class="map-download-wrap">
  <button class="map-download">下載地圖</button>
</div>
<div class="map-infoPanel-wrap container">
  <div class="infoPanel-box row"></div>
  <div class="pagination"><span class="page-active" pageNo="1">1</span><span pageNo="2">2</span></div>
</div>