
<div class="carousel slide" id="index-carousel" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100" style="background-image: url('../images/carousel1.jpg');" alt="slide1"></div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100" style="background-image: url('../images/carousel2.jpg');" alt="slide2"></div>
    </div>
    <div class="carousel-item">
      <div class="d-block w-100" style="background-image: url('../images/carousel3.jpg');" alt="slide3"></div>
    </div>
  </div><a class="carousel-control-prev" href="#index-carousel" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#index-carousel" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>
</div>