@mixin for-small-phone-only {
  @media (max-width: 320px) { @content; }
}
@mixin for-480-only {
  @media (min-width: 480px) { @content; }
}
@mixin for-phone-only {
  @media (min-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-640-up {
  @media (min-width: 640px) { @content; }
}
@mixin for-768-up {
	@media (min-width: 768px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-bootstrap-lg-up {
  @media (min-width: 992px) { @content; }
}
@mixin for-mid-foundation-up {
  @media (min-width: 1024px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-mid-desktop-up {
  @media (min-width: 1400px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}