extend layouts/index-layout.pug
block script

block main-content
	.content.barba-container.content-loading(data-namespace='about')
		.about-content.padding-top-hack
			.about-content-wrap#partner
				.text-head
					span 合作夥伴
					span.eng-text-head Partners & Sponsors
				.partner-block-wrap.partner-align
					- var partners = [{dep: "指導單位", depEng: "Hosted by", logo: "images/logo/host1.jpg"}, {dep: "主辦單位", depEng: "Organized by", logo: "images/logo/host2.jpg"}, {dep: "主力協辦", depEng: "Main Partner", logo: "images/logo/BFT-Logo.png"}, {dep: "共同響應", depEng: "Special Support", logo: "images/logo/host1.jpg"}, {dep: "執行單位", depEng: "Executed by", logo: "images/logo/artexpect.png"}]
						each partner in partners
							.partner-block
								p.partner-block-text
									span=partner.dep
									span.partner-block-text-eng=partner.depEng
								.partner-block-img
									img(src=partner.logo)
				.text-head-sub
					span 贊助單位
					span.eng-text-head Sponsors
				.partner-block-wrap.partner-center
					- var partners = [{logo: "images/logo/limei.png"}, {logo: "images/logo/fubon.png"}]
						each partner in partners
							.partner-block
								.partner-block-img
									img(src=partner.logo)
				.text-head-sub
					span 媒體夥伴
					span.eng-text-head Media Partner
				.partner-block-wrap.partner-center
					- var partners = [{logo: "images/logo/BAZAAR.png"}, {logo: "images/logo/cosmopolitan.png"},{logo: "images/logo/elle.png"}]
						each partner in partners
							.partner-block
								.partner-block-img
									img(src=partner.logo)
				.text-head-sub
					span 協辦單位
					span.eng-text-head In Collaboration with
				.partner-block-wrap.partner-align
					- var partners = [{logo: "images/logo/regentHotel.png"}, {logo: "images/logo/justSleep.png"},{logo: "images/logo/fringeFestival.png"},{logo: "images/logo/performanceArt.png"}]
						each partner in partners
							.partner-block
								.partner-block-img
									img(src=partner.logo)
				.text-head-sub
					span 合作夥伴
					span.eng-text-head Co-Sponsors
				.partner-block-wrap.partner-align
					- var partners = [{logo: "images/logo/fineArt.png"}, {logo: "images/logo/moca.png"},{logo: "images/logo/treasureHill.png"},{logo: "images/logo/spot.jpg"},{logo: "images/logo/eslitebookstore_logo.png"},{logo: "images/logo/esliteLife.png"},{logo: "images/logo/pure.png"},{logo: "images/logo/onTheGround.png"},{logo: "images/logo/bonjour.png"},{logo: "images/logo/gardenCity.png"},{logo: "images/logo/maji.png"},{logo: "images/logo/stChristopher.jpg"},{logo: "images/logo/farmhouse.jpg"},{logo: "images/logo/martiniMusic.png"},{logo: "images/logo/WAF.png"}]
						each partner in partners
							.partner-block
								.partner-block-img
									img(src=partner.logo)
				.text-head-sub
					span 響應串連
					span.eng-text-head Off-Program
				.partner-block-wrap.partner-align
					- var partners = [{logo: "images/logo/TTTIFA.jpg"}, {logo: "images/logo/regentGalleria.png"},{logo: "images/logo/haiton.jpg"},{logo: "images/logo/afro.png"},{logo: "images/logo/dineInCafe.png"},{logo: "images/logo/finalCafe.jpg"},{logo: "images/logo/heraCafe.jpg"},{logo: "images/logo/republicCafe.jpg"},{logo: "images/logo/gunglok.png"},{logo: "images/logo/listenCafe.png"},{logo: "images/logo/starryNight.png"},{logo: "images/logo/roosterCafe.jpg"}]
						each partner in partners
							.partner-block
								.partner-block-img
									img(src=partner.logo)
			.world-content-wrap
				.text-head
					span 全球白晝
					span.eng-text-head Nuit Blanche
				.world-block-wrap
					- var world = [{city: "Boston, USA"}, {city: "Brussels, Belgium"}, {city: "Bucharest, Romania"}, {city: "Calgary, Canada"}, {city: "Copenhagen, Denmark"}, {city: "Dallas, USA"}, {city: "Florence, Italy"}, {city: "Halifax, Canada"}, {city: "Huntsville, Canada"}, {city: "Kitchener, Canada"}, {city: "Kyoto, Japan"}, {city: "La Paz, Bolivia"}, {city: "La Valetta, Malta"}, {city: "London, Canada"}, {city: "Melbourne, Australia"}, {city: "Minneapolis, USA"}, {city: "Montreal, Canada"}, {city: "Oran, Algeria"}, {city: "Ottawa & Gatineau, Canada"}, {city: "Paris, France"}, {city: "Port-au-Prince, Haiti"}, {city: "Riga, Latvia"}, {city: "Saint John, New Brunswich"}, {city: "San Antonio, USA"}, {city: "Santa Monica, USA"}, {city: "Singapore"}, {city: "Skopje, Macedonia"}, {city: "Trento, USA"}, {city: "Toronto, Canada"}, {city: "Washington, USA"}, {city: "Whitehourse, Canada"}, {city: "Winnipeg, Canada"}]
						each city in world
							.world-block
								p=city.city
			.team-content-wrap#team
				.text-head
					span 策展團隊
					span.eng-text-head Team
				.team-block-wrap
					- var team = [{pos: "藝術總監", name: "胡朝聖"}, {pos: "表演節目統籌", name: "吳季娟  WU Neo"}, {pos: "執行製作", name: "魏聆琄  WEI Ada"}, {pos: "執行製作", name: "陳迦美  CHEN Cammy"}, {pos: "總舞監", name: "林隆圭  LIN Lung-Kuei"}, {pos: "總舞監", name: "吳子敬  WU Jing"}, {pos: "舞監助理", name: "吳峽寧  WU Nick"}, {pos: "舞監助理", name: "陳亮儒  CHEN Liang Ru"}, {pos: "舞監助理", name: "劉文奇  LIU Wen Qi"}, {pos: "舞監助理", name: "葉岫穎  YAP Siew Yin"}, {pos: "舞監助理", name: "吳昱穎  WU Yu-Ying"}, {pos: "視覺藝術統籌", name: "沈菲比  Phebea, SHEN Chun-Yi"}, {pos: "視覺藝術執行助理", name: "王怡心  WANG Yi Hsin"}, {pos: "行政統籌", name: "劉麗婷  LIU Li Ting"}, {pos: "專案行政", name: "黃心怡  HUANG Alison"}, {pos: "專案行政", name: "鄭伊婷  JHENG Ella"}, {pos: "專案行政", name: "侯曉君  HOU Mavis"}, {pos: "專案行政", name: "楊婷   YANG Gwen"}, {pos: "行銷統籌", name: "好料創意   Hao Liao Creative Ltd."}, {pos: "影像紀錄", name: "狠主流多媒體有限公司   Very Mainstream Studio"}, {pos: "攝影記錄", name: "李欣哲   LEE Hsin Che"}, {pos: "攝影記錄", name: "陳科翰   CHEN Ke-Han"}, {pos: "攝影記錄", name: "郭潔渝   GUO Jie-Yu"}, {pos: "攝影記錄", name: "魏妤珊   WEI Yu Shan"}, {pos: "攝影記錄", name: "劉璧慈   LIU Pi-Tzu"}, {pos: "攝影記錄", name: "徐翊嘉   HSU Yi Chia"}]
						each member in team
							.team-block
								p=member.pos
								p.dashed-line
								p=member.name
		include components/footer.pug