extend layouts/index-layout.pug
block script

block main-content
	.content.barba-container.content-loading(data-namespace='access')
		.access-content.padding-top-hack-grey
			.access-content-wrap
				.text-head
					span 交通資訊
					span.eng-text-head Access
				.access-map-block
					.access-map#access-map
				.text-head
					span 捷運
					span.eng-text-head MRT
				.access-mrt-block
					p.mrt-info-text
						span 從捷運台北車站到捷運圓山站，可以沿線參與白晝之夜活動延長營運時間：捷運圓山站至臺北車站站，將延長夜間營運時間至10月7日上午6:00 。增開接駁班次：捷運圓山站至臺北車站站間，每8-10分鐘一班車來回接駁。
						//- span.mrt-info-text-eng Eng
					.mrt-station-block
						- var stations = [{mrtLogo: "images/mrt.png", station: "捷運圓山站", stationEng: "MRT Yuanshan Station"}, {mrtLogo: "images/mrt.png", station: "捷運民權西路站", stationEng: "MRT Minquan W. Rd."}, {mrtLogo: "images/mrt.png", station: "捷運雙連站", stationEng: "MRT Shuanglian Station"}, {mrtLogo: "images/mrt.png", station: "捷運中山站", stationEng: "MRT Zhongshan Station"}, {mrtLogo: "images/mrt.png", station: "捷運台北車站", stationEng: "MRT Taipei Main Station"}]
							each station in stations
								.mrt-station
									img(src=station.mrtLogo)
									a(href="#")
										span=station.station
										span.mrt-station-eng=station.stationEng
				.text-head
					span 微笑單車
					span.eng-text-head YouBike
				.access-mrt-block
					p.mrt-info-text
						span 白晝之夜微笑單車站：可至以下地點騎單車沿線參與活動
						//- span.mrt-info-text-eng Eng
					.mrt-station-block.youbike-block
						- var stations = [{mrtLogo: "images/youbike.png", station: "圓山公園2號", stationEng: "Yuanshan Park No.2"}, {mrtLogo: "images/youbike.png", station: "臺北市立美術館", stationEng: "Taipei Fine Ars Museum"}, {mrtLogo: "images/youbike.png", station: "民族玉門街口", stationEng: "Minzu & Yumen Intersection"}, {mrtLogo: "images/youbike.png", station: "撫順公園", stationEng: "Fushun Park"}, {mrtLogo: "images/youbike.png", station: "新興公園", stationEng: "Xinshi Park"}, {mrtLogo: "images/youbike.png", station: "捷運民權西路站3號出口", stationEng: "MRT Minquan W.Rd. Sta.(Exit 3)"}, {mrtLogo: "images/youbike.png", station: "捷運雙連站2號出口", stationEng: "MRT Shuanglian Sta. (Exit 2)"}, {mrtLogo: "images/youbike.png", station: "永盛公園", stationEng: "YongSheng Park"}, {mrtLogo: "images/youbike.png", station: "捷運中山站2號出口", stationEng: "MRT Zhongshan Sta. (Exit 2)"}, {mrtLogo: "images/youbike.png", station: "林森公園", stationEng: "Linsen Park"}, {mrtLogo: "images/youbike.png", station: "臺北車站", stationEng: "MRT Taipei Main Station"}]
							each station in stations
								.mrt-station
									img(src=station.mrtLogo)
									a(href="#")
										span=station.station
										span.mrt-station-eng=station.stationEng
				.text-head
					span 交通管制
					span.eng-text-head Traffic Control
				.access-traffic-block-wrap
					.access-traffic-block
						.traffic-block-text-block
							img(src="images/traffic.svg")
							.traffic-block-text
								p 中山北路三段與民族東路交叉路口之北向雙線慢車道，以及海霸王後巷。
								p 管制時間：10月6日17：00 – 10月7日06：00
						.traffic-block-img
							img(src="images/ex1.jpg")
					.access-traffic-block
						.traffic-block-text-block
							img(src="images/traffic.svg")
							.traffic-block-text
								p 台北當代藝術館外，長安西路往承德路一段的方向，單向側封路。
								p 管制時段：10月6日17：00 – 10月6日23：00
						.traffic-block-img
							img(src="images/ex2.jpg")
		include components/footer.pug