extend layouts/index-layout.pug
block script

block main-content
	.content.barba-container.content-loading(data-namespace='blob-menu')
		.blob-content.padding-top-hack
			a(href="index.html").back-to-index
				i.fas.fa-arrow-left
				span Back
			.blob-content-wrap
				.blob-img
					img(src="../images/blob-img1.jpg")
				.blob-des-wrap
					.blob-content-head
						p 想像一個顛倒的城市
						p.eng-blob-header The Reversed City
					p 黑夜與白天的互換<br>內外與上下的翻轉<br>傳統與當代的揉雜<br>解放與規訓的挑釁<br>繁華與窳陋的凝視<br>移動與固著的牽扯<br>文化與消費的相望<br>我們開始顛倒看著我們的城市，<br>看著我們的世界
					p.eng-blob-des-p Let’s imagine a city in reversal mode<br>The exchange between dark night and day time<br>The flip-over as inside-out and upside-down<br>The rubbing of tradition with contemporary<br>The challenging against discipline for liberation<br>The gaze over prosperity and deterioration<br>The combat between mobility and stability<br>The opposition from consumption to culture<br><br>Therefore, we begin to look at our city in a reversed way, so does to the world we are.
			a(href="local-participant.html").blob-content-previous
				i.fas.fa-arrow-left
				span Previous
			a(href="global-network.html").blob-content-next
				span Next
				i.fas.fa-arrow-right
		include components/footer.pug