extend layouts/index-layout.pug
block script

block main-content
	.content.barba-container.content-loading(data-namespace='category')
		.category-content
			.time-content-wrap.padding-top-hack
				.text-head
					span 時間引導
					span.eng-text-head Schedule
				.time-schedule-wrap
					.time-schedule-block
						p 10/6
						.time-schedule-date
							- var dates = [{time: "6-7", active: "active-schedule"}, {time: "7-8"}, {time: "8-9"}, {time: "9-10"}, {time: "10-11"}, {time: "11-12"}]
								each date in dates
									p(class=date.active, schedule-tag=date.time)
										span=date.time
										span PM
					.time-schedule-block
						p 10/7
						.time-schedule-date
							- var dates2 = [{time: "12-1"}, {time: "1-2"}, {time: "2-3"}, {time: "3-4"}, {time: "4-5"}, {time: "5-6"}]
								each date2 in dates2
									p(schedule-tag=date2.time)
										span=date2.time
										span AM
				.time-schedule-content-wrap.container
					.row(schedule-time="6-7").time-schedule-content-active
						- var timeContent = [{typeClass: "time-schedule-content-performance", img: "images/ex1.jpg", type: "表演活動", typeEng: "Performance", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-visual", img: "images/ex2.jpg", type: "裝置作品", typeEng: "Visual Art Work", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-performance", img: "images/ex3.jpg", type: "表演活動", typeEng: "performance", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-activity", img: "images/ex4.jpg", type: "體驗活動", typeEng: "Activity", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-program", img: "images/ex1.jpg", type: "響應串連", typeEng: "Off Program", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}]
							each content in timeContent
								.time-schedule-content-block.col-12.col-sm-6.col-lg-4
									.time-schedule-content(class=content.typeClass)
										a(href="#").time-schedule-logo
											img.time-schedule-img(src=content.img)
											.time-schedule-type
												span=content.type
												span.time-schedule-type-eng=content.typeEng
										a.time-schedule-map(href="#")
											span=content.mapUrl
											span.time-content-map-eng=content.mapUrlEng
										a(href="#").time-schedule-location
											span=content.location
											span.time-schedule-location-eng=content.locationEng
										.time-schedule-content-description
											a(href="#").time-schedule-content-description-title
												span=content.title
												span.time-schedule-content-description-title-eng=content.titleEng
											p.time-schedule-content-description-artist=content.artist

											p.time-schedule-content-description-time=content.showTime
											p.time-schedule-content-description-p
												span=content.description
												span.time-schedule-content-description-p-eng=content.descriptionEng
					.row(schedule-time="7-8")
						- var timeContent = [{typeClass: "time-schedule-content-visual", img: "images/ex2.jpg", type: "裝置作品", typeEng: "Visual Art Work", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-performance", img: "images/ex3.jpg", type: "表演活動", typeEng: "performance", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-activity", img: "images/ex4.jpg", type: "體驗活動", typeEng: "Activity", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-program", img: "images/ex1.jpg", type: "響應串連", typeEng: "Off Program", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"},{typeClass: "time-schedule-content-performance", img: "images/ex1.jpg", type: "表演活動", typeEng: "Performance", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}]
							each content in timeContent
								.time-schedule-content-block.col-12.col-sm-6.col-lg-4
									.time-schedule-content(class=content.typeClass)
										a(href="#").time-schedule-logo
											img.time-schedule-img(src=content.img)
											.time-schedule-type
												span=content.type
												span.time-schedule-type-eng=content.typeEng
										a.time-schedule-map(href="#")
											span=content.mapUrl
											span.time-content-map-eng=content.mapUrlEng
										a(href="#").time-schedule-location
											span=content.location
											span.time-schedule-location-eng=content.locationEng
										.time-schedule-content-description
											a(href="#").time-schedule-content-description-title
												span=content.title
												span.time-schedule-content-description-title-eng=content.titleEng
											p.time-schedule-content-description-artist=content.artist

											p.time-schedule-content-description-time=content.showTime
											p.time-schedule-content-description-p
												span=content.description
												span.time-schedule-content-description-p-eng=content.descriptionEng
			.category-content-wrap#categories
				.text-head
					span 類別引導
					span.eng-text-head Category
				.category-content-block
					.category-filter-block
						.category-filter.category-filter-all.category-filter-active
							.category-filter-text
								span 顯示全部
								span.category-filter-eng Display All
						.category-filter.category-filter-performance
							.category-filter-ball
							.category-filter-text
								span 活動表演
								span.category-filter-eng Performance
						.category-filter.category-filter-visual
							.category-filter-ball
							.category-filter-text
								span 視覺作品
								span.category-filter-eng Visual Art Work
						.category-filter.category-filter-activity
							.category-filter-ball
							.category-filter-text
								span 體驗活動
								span.category-filter-eng Activity
						.category-filter.category-filter-program
							.category-filter-ball
							.category-filter-text
								span 響應串連
								span.category-filter-eng Off Program
				.category-schedule-content-wrap.container
					.row(schedule-time="6-7").time-schedule-content-active
						- var timeContent = [{typeClass: "time-schedule-content-performance", img: "images/ex1.jpg", type: "表演活動", typeEng: "Performance", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-visual", img: "images/ex2.jpg", type: "裝置作品", typeEng: "Visual Art Work", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-performance", img: "images/ex3.jpg", type: "表演活動", typeEng: "performance", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-activity", img: "images/ex4.jpg", type: "體驗活動", typeEng: "Activity", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-program", img: "images/ex1.jpg", type: "響應串連", typeEng: "Off Program", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"},{typeClass: "time-schedule-content-visual", img: "images/ex2.jpg", type: "裝置作品", typeEng: "Visual Art Work", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-performance", img: "images/ex3.jpg", type: "表演活動", typeEng: "performance", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-activity", img: "images/ex4.jpg", type: "體驗活動", typeEng: "Activity", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}, {typeClass: "time-schedule-content-program", img: "images/ex1.jpg", type: "響應串連", typeEng: "Off Program", mapUrl: "北區 - 圓山周邊", mapUrlEng: "Northern - Yuanshang Area", location:"北美館一樓大廳", locationEng: "Taipei Fine Arts Museum", title: "標題標題",titleEng: "English Title", artist: "Simone Wirod / Sweden", showTime: "【Time】10/6 6PM-7PM", description: "介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹介紹", descriptionEng: "English description English description English description English description English description"}]
							each content in timeContent
								.time-schedule-content-block.col-12.col-sm-6.col-lg-4
									.time-schedule-content(class=content.typeClass)
										a(href="#").time-schedule-logo
											img.time-schedule-img(src=content.img)
											.time-schedule-type
												span=content.type
												span.time-schedule-type-eng=content.typeEng
										a.time-schedule-map(href="#")
											span=content.mapUrl
											span.time-content-map-eng=content.mapUrlEng
										a(href="#").time-schedule-location
											span=content.location
											span.time-schedule-location-eng=content.locationEng
										.time-schedule-content-description
											a(href="#").time-schedule-content-description-title
												span=content.title
												span.time-schedule-content-description-title-eng=content.titleEng
											p.time-schedule-content-description-artist=content.artist

											p.time-schedule-content-description-time=content.showTime
											p.time-schedule-content-description-p
												span=content.description
												span.time-schedule-content-description-p-eng=content.descriptionEng
					.pagination
						a(href="#") <
						a(href="#").pages.active-page 1
						a(href="#").pages 2
						a(href="#").pages 3
						a(href="#") >
				.route-blob-1
				.route-blob-2
		include components/footer.pug