extend layouts/index-layout.pug

block script

block main-content
	.content.barba-container.content-loading(data-namespace='home')
		include components/blob.pug
		include components/index_logo.pug
		include components/index_carousel
		.index-content
			.index-video
				video(controls)
					source(src="http://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4")
			.container#about
				.nb-info.row
					.nb-info-img.col-12.col-md-6
						img(src="../images/nb-info-img.jpg")
					.nb-info-text-wrap.col
						h4.text-head 
							span 2018 台北白晝
							span.eng-text-head Nuit Blanche Taipei
						//- p.nb-sub-info-text 全球跨夜藝術慶典在臺北發生
						p.nb-info-text 「臺北白晝之夜」自2016年舉辦，透過藝術文化活動的體驗，探索夜晚臺北的各種魅力，每年吸引至少20萬民眾參與，創下街頭藝術活動新紀錄。今年第三屆的臺北白晝之夜，將選定中山北路一至三段，以圓山周邊、南西商圈為南北兩大活動範圍，預計將呈現至少20場演出與18處的夜間藝術裝置活動。
			include components/blob_menu.pug
			include components/index_map.pug
		include components/footer.pug