extend layouts/index-layout.pug
block script

block main-content
	.content.barba-container.content-loading(data-namespace='program')
		.program-content.padding-top-hack
			.program-content-wrap
				.text-head
					span 響應串連
					span.eng-text-head Off-Program
				.program-content-block
					.program-filter-block
						.program-filter.program-filter-all.program-filter-active
							.program-filter-text
								span 顯示全部
								span.program-filter-eng Display All
						.program-filter.program-filter-event
							.program-filter-ball
							.program-filter-text
								span 活動
								span.program-filter-eng Events
						.program-filter.program-filter-movie
							.program-filter-ball
							.program-filter-text
								span 電影
								span.program-filter-eng Movies
						.program-filter.program-filter-exhibition
							.program-filter-ball
							.program-filter-text
								span 展覽
								span.program-filter-eng Exhibitions
					.programs.container
						.row
							- var programs = [{logo: "url('images/ex1.jpg')", type: "活動", typeEng: "Event", locationURL: "#", location: "台北市中山堂管理所", locationEng: "Zhong Management Center", programType: "program-type-event", target: "#program1"}, {logo: "url('images/ex2.jpg')", type: "電影", typeEng: "Movie", locationURL: "#", location: "台北市中山堂管理所", locationEng: "Zhong Management Center", programType: "program-type-movie", target: "#program2"}, {logo: "url('images/ex3.jpg')", type: "展覽", typeEng: "Exhibition", locationURL: "#", location: "台北市中山堂管理所", locationEng: "Zhong Management Center", programType: "program-type-exhibition", target: "program1"},{logo: "url('images/ex1.jpg')", type: "活動", typeEng: "Event", locationURL: "#", location: "台北市中山堂管理所", locationEng: "Zhong Management Center", programType: "program-type-event", target: "program1"}, {logo: "url('images/ex2.jpg')", type: "電影", typeEng: "Movie", locationURL: "#", location: "台北市中山堂管理所", locationEng: "Zhong Management Center", programType: "program-type-movie", target: "program2"}, {logo: "url('images/ex3.jpg')", type: "展覽", typeEng: "Exhibition", locationURL: "#", location: "台北市中山堂管理所", locationEng: "Zhong Management Center", programType: "program-type-exhibition", target: "#program3"}]
								each program in programs
									.program-block-wrap.col-12.col-sm-6.col-lg-4
										.program-block(class=program.programType)
											button.program-logo(type="button", data-toggle="modal", data-target=program.target)
												.program-img(style={"background-image":program.logo})
												.program-type
													span=program.type
													span.program-type-eng=program.typeEng
											a.program-location(href=program.locationURL)
												span=program.location
												span.program-location-eng=program.locationEng
											button.program-detail-btn(type="button", data-toggle="modal", data-target=program.target) 
												span 點擊查看
												span.program-detail-btn-eng Detail
						.pagination
							a(href="#") <
							a(href="#").pages.active-page 1
							a(href="#").pages 2
							a(href="#").pages 3
							a(href="#") >
				.route-blob-1
				.route-blob-2
		#program1.modal.fade.modal-event(tabindex="-1", role="dialog", aria-labelledby="program1Label", aria-hidden="true")
			.modal-dialog(role="document")
				.modal-content
					.modal-body
						button.close(type="button", data-dismiss="modal", aria-label="Close")
							span(aria-hidden="true") &times;
						.program-modal-left
							.program-modal-left-img(style="background-image: url('images/ex1.jpg');")
							.program-modal-left-detail
								a(href="#").program-modal-left-detail-location
									.program-modal-left-detail-location-text
										span 台北市中山堂管理所
										span.program-modal-left-detail-eng Zhong Management Center
									.program-modal-left-detail-location-marker
								a(href="#")
									span 網站
									span.program-modal-left-detail-eng Website
								a(href="#")
									span 活動頁面
									span.program-modal-left-detail-eng Event Page
						.program-modal-right
							p.program-modal-right-head
								span 延長開放
								span.program-modal-right-head-eng Extended Exhibition
							p
								span 全館含展場、臺北書院延長開放時間至10/07 (六) 22:00，2樓堡壘廳延長開放至10/8 06:00
							p.program-modal-right-p-eng
								span English translation here
							p.program-modal-right-head
								span 響應活動
								span.program-modal-right-head-eng Off Program
							p
								span 《品酒之夜》
								span 時間｜10/07 (六) 20:00—22:00
								span 地點｜臺北市中山堂管理所 (臺北市中正區延平南路98號) 2樓堡壘廳 
							p
								span 《音樂賞析》
								span 時間｜10/07 (六) 19:00-22:00
								span 地點｜臺北市中山堂管理所 (臺北市中正區延平南路98號) 4樓劇場
							p
								span 《介紹》
								span 由堡壘廳安排音樂性質演出及法國品酒晚會，邀請民眾體驗不一樣的中山堂堡壘廳，邀請專業品酒師深入淺出解說葡萄酒及介紹法國美食並搭配特色餐點。 由劇場咖啡-音樂之夜 ，特別規劃音樂晚會，供民眾參加，並有專業人員帶領有興趣之民眾，解說咖啡烘培之過程。
							p.program-modal-right-p-eng
								span English translation here
							p.program-modal-right-p-eng
								span English translation here
							p.program-modal-right-p-eng
								span English translation here
							p.program-modal-right-head
								span 參與方式
								span.program-modal-right-head-eng Entry
							p
								span 堡壘廳：自由參加，店內餐點消費依堡壘廳內MENU實際收費，參與品酒晚會民眾另行收取額外費用。<br>劇場咖啡：自由參加，店內餐點消費依劇場咖啡內MENU實際收費。
							p.program-modal-right-p-eng
								span English translation here
		include components/footer.pug