extend layouts/index-layout.pug
block script

block main-content
	.content.barba-container.content-loading(data-namespace='route')
		.route-content.padding-top-hack
			.route-content-wrap
				.text-head
					span 真人引導
					span.eng-text-head Route
				.route-content-block
					#route-tab.nav.nav-tabs(role="tablist")
						a#route-recommend-tab.nav-item.nav-link.active(data-toggle="tab", href="#route-recommend", role="tab", aria-controls="route-recommend", aria-selectred="true")
							span 名人主題路線
							span.eng-nav-item Recommend Routes
						a#route-expert-tab.nav-item.nav-link(data-toggle="tab", href="#route-expert", role="tab", aria-controls="route-expert", aria-selectred="false")
							span 專家帶你走
							span.eng-nav-item Expert Routes
					#route-tabContent.tab-content
						#route-recommend.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="route-recommend-tab")
							- var routes = [{profile: "url('images/carousel1.jpg')", profileDes: "名人介紹名人介紹名人介紹名人介紹名人介紹", profileDesEng: "Celebrity description Celebrity description Celebrity description Celebrity description", routeName: "主題攻略標題", routeNameEng: "Route Name in English", loc1: "從中山地下街", loc1Eng: "From Zhong Undergroud", loc2: "從BBB地點", loc2Eng: "From BBBB Location", loc3: "從CCC地點", loc3Eng: "From CCC Location", loc4: "從DDD地點", loc4Eng: "From DDD Location", loc5: "從EEE地點", loc5Eng: "From EEE Location", loc6: "從FFF地點", loc6Eng: "From FFF Location", routeDes: "市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內", routeDesEng: "English description English description English description English description English description English description "},{profile: "url('images/blob-img1.jpg')", profileDes: "名人介紹", profileDesEng: "Celebrity description", routeName: "主題攻略標題", routeNameEng: "Route Name in English", loc1: "從中山地下街", loc1Eng: "From Zhong Undergroud", loc2: "從BBB地點", loc2Eng: "From BBBB Location", loc3: "從CCC地點", loc3Eng: "From CCC Location", loc4: "從DDD地點", loc4Eng: "From DDD Location", loc5: "從EEE地點", loc5Eng: "From EEE Location", loc6: "從FFF地點", loc6Eng: "From FFF Location", routeDes: "市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內", routeDesEng: "English description English description English description English description English description English description "}]
								each route in routes
									.route-block-wrap
										.route-profile-block
											.route-profile-img(style={"background-image":route.profile})
											.route-profile-des
												p=route.profileDes
												p.route-profile-des-eng=route.profileDesEng
										.route-detail-block
											.route-detail-title
												span=route.routeName
												span.route-detail-title-eng=route.routeNameEng
											.route-detail-location-block
												.route-detail-location
													span=route.loc1
													span.route-detail-block-eng=route.loc1Eng
												.route-detail-location
													span=route.loc2
													span.route-detail-block-eng=route.loc2Eng
												.route-detail-location
													span=route.loc3
													span.route-detail-block-eng=route.loc3Eng
												.route-detail-location
													span=route.loc4
													span.route-detail-block-eng=route.loc4Eng
												.route-detail-location
													span=route.loc5
													span.route-detail-block-eng=route.loc5Eng
												.route-detail-location
													span=route.loc6
													span.route-detail-block-eng=route.loc6Eng
											.route-detail-divider
											.route-detail-text
												p=route.routeDes
												p.route-detail-text-eng=route.routeDesEng
						#route-expert.tab-pane.fade(role="tabpanel", aria-labelledby="route-expert-tab")
							- var routes = [{profile: "url('images/carousel1.jpg')", profileDes: "名人介紹名人介紹名人介紹名人介紹名人介紹", profileDesEng: "Celebrity description Celebrity description Celebrity description Celebrity description", routeName: "主題攻略標題", routeNameEng: "Route Name in English", loc1: "從中山地下街", loc1Eng: "From Zhong Undergroud", loc2: "從BBB地點", loc2Eng: "From BBBB Location", loc3: "從CCC地點", loc3Eng: "From CCC Location", loc4: "從DDD地點", loc4Eng: "From DDD Location", loc5: "從EEE地點", loc5Eng: "From EEE Location", loc6: "從FFF地點", loc6Eng: "From FFF Location", gatherTime: "10/8 16:20", gatherLoc: "赤峰街XX號 （XX路口）",routeDes: "市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內", routeDesEng: "English description English description English description English description English description English description "},{profile: "url('images/blob-img1.jpg')", profileDes: "名人介紹", profileDesEng: "Celebrity description", routeName: "主題攻略標題", routeNameEng: "Route Name in English", loc1: "從中山地下街", loc1Eng: "From Zhong Undergroud", loc2: "從BBB地點", loc2Eng: "From BBBB Location", loc3: "從CCC地點", loc3Eng: "From CCC Location", loc4: "從DDD地點", loc4Eng: "From DDD Location", loc5: "從EEE地點", loc5Eng: "From EEE Location", loc6: "從FFF地點", loc6Eng: "From FFF Location", gatherTime: "10/7 16:20", gatherLoc: "赤峰街XX號 （XX路口）",routeDes: "市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內市長的話：高度推薦ＸＸＸ路線。從AAAA地點你可以看到內文內文內", routeDesEng: "English description English description English description English description English description English description "}]
								each route in routes
									.route-block-wrap
										.route-profile-block
											.route-profile-img(style={"background-image":route.profile})
											.route-profile-des
												p=route.profileDes
												p.route-profile-des-eng=route.profileDesEng
										.route-detail-block
											.route-detail-title
												span=route.routeName
												span.route-detail-title-eng=route.routeNameEng
											a(href="#").route-sign-up
												p 自由參加
											.route-detail-location-block
												.route-detail-location
													span=route.loc1
													span.route-detail-block-eng=route.loc1Eng
												.route-detail-location
													span=route.loc2
													span.route-detail-block-eng=route.loc2Eng
												.route-detail-location
													span=route.loc3
													span.route-detail-block-eng=route.loc3Eng
												.route-detail-location
													span=route.loc4
													span.route-detail-block-eng=route.loc4Eng
												.route-detail-location
													span=route.loc5
													span.route-detail-block-eng=route.loc5Eng
												.route-detail-location
													span=route.loc6
													span.route-detail-block-eng=route.loc6Eng
											.route-detail-divider
											.route-detail-text
												.route-gather
													.gather-title
														p 集合時間
														p.gather-title-eng Gather Time
													span=route.gatherTime
												.route-gather
													.gather-title
														p 集合地點
														p.gather-title-eng Gather Location
													span=route.gatherLoc
												p=route.routeDes
												p.route-detail-text-eng=route.routeDesEng
				.route-blob-1
				.route-blob-2
		include components/footer.pug