extend layouts/index-layout.pug
block script

block main-content
	.content.barba-container.content-loading(data-namespace='work').content-grey
		.work-content.padding-top-hack-grey
			.work-content-head-img(style="background-image: url('images/ex1.jpg');")
			.work-content-wrap
				.breadcrumb
					span 所在位置
					span >
					a(href="work.html#category") 作品展演
					span >
					span.breadcrumb-current 作品介紹
				.text-head
					span 作品介紹
					span.eng-text-head Info
				.work-content-block.container
					.row
						.image-wrap.col-12.col-lg-7
							- var images = [{image: "images/ex1.jpg"}, { image: "images/ex2.jpg"}, {image: "images/ex3.jpg"}, {image: "images/nb-info-img.jpg"}, {image: "images/carousel1.jpg"}]
								each image in images
									img(src=image.image)
						.carousel-wrap.col-12.col-lg-7.work-carousel-wrap
							#work-carousel.carousel.slide(data-ride="carousel")
								.carousel-inner
									- var carousel = [{image: "background-image: url('../images/ex1.jpg')", alt: "slide1", active: "active"}, { image: "background-image: url('../images/ex2.jpg')", alt: "slide2"}, {image: "background-image: url('../images/ex3.jpg')", alt: "slide3"}, {image: "background-image: url('../images/ex4.jpg')", alt: "slide4"}, {image: "background-image: url('../images/carousel1.jpg')", alt: "slide5"}]
										each slide in carousel
											.carousel-item(class=slide.active)
												.d-block.w-100(style=slide.image, alt=slide.alt)
								a.carousel-control-prev(href="#work-carousel", role="button", data-slide="prev")
									span.carousel-control-prev-icon(aria-hidden="true")
									span.sr-only Previous
								a.carousel-control-next(href="#work-carousel", role="button", data-slide="next")
									span.carousel-control-next-icon(aria-hidden="true")
									span.sr-only Next
							.thumbnails
								- var carousel = [{image: "background-image: url('../images/ex1.jpg')", control: "0", slideNo: "slide1"}, { image: "background-image: url('../images/ex2.jpg')", control: "1", slideNo: "slide2"}, {image: "background-image: url('../images/ex3.jpg')", control: "2", slideNo: "slide3"}, {image: "background-image: url('../images/ex4.jpg')", control: "3", slideNo: "slide4"}, {image: "background-image: url('../images/carousel1.jpg')", control: "4", slideNo: "slide5"}]
									each slide in carousel
										.thumbnail-img(style=slide.image, control-tag=slide.control, control-slide=slide.slideNo)
						.work-info-wrap.col-12.col-lg-5
							.work-info-title
								span 消坡塊
								span.work-info-title-eng English Title
							.work-info-type.work-info-type-visual
								span 裝置作品
								span.work-info-type-eng Visual Art Work
							.work-info-artist
								span 廖昭豪 / Taiwan
								span.work-info-artist-eng English Name
							.work-info-time
								span 【展出時間】10/1-10/31
								span 【Time】10/1-10/31
							.work-info-location
								span 【展出地點】圓山捷運站1號出口
								span 【展出地點】MRT Yuanshang Exit 1
							.work-info-text
								span 橋墩以往的目的是為了過河，而現今都市環境地狹人稠，在交通運輸高架後，都市的橋墩變多了，與人的連結也轉變了。人類文明中，聚落、城市的發展歷程，許多村落是因一口井、河流所凝聚。
								span 現代人的一切生活機能在都市中被解決，於是橋下的河流地域被邊緣化，河流的位置離我們是遠的。特意將消波塊置入於捷運高架橋下，產生一個異質的銜接，把穿越河流的橋墩下景致移至人潮流動性高的都市空間中，使两空間錯置與互相招喚。
								span.work-info-text-eng English description
								span.work-info-text-eng English description
							.work-info-artist-text
								span 藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹藝術家介紹
								span.work-info-artist-text-eng English artist description
							.work-btn-wrap
								a(href="#").back-to-art-list
									span 回作品列表
									span.back-to-art-list-eng Back to art works
								a(href="#").work-map-btn
									span 前往作品地圖
									span.work-map-btn-eng Go to map
		include components/footer.pug