extend layouts/index-layout.pug
block script

block main-content
	.content.barba-container.content-loading(data-namespace='timeline')
		.timeline-content.padding-top-hack
			a(href="index.html").back-to-index
				i.fas.fa-arrow-left
				span Back
			.timeline-content-wrap.timeline-wrap-border
				.timeline-box(time-box='1').current-timeline-box
					.timeline-img
						img(src="../images/blob-img1.jpg")
					.timeline-des-wrap
						.timeline-content-head
							p 中山北路
							p.timeline-header-eng Zhong
						p.timeline-sub-head
							span 日治時期 1895-1945
							span.timeline-sub-head-eng English 1895-1945
						p.timeline-des-p 黑夜與白天的互換<br>內外與上下的翻轉<br>傳統與當代的揉雜<br>解放與規訓的挑釁<br>繁華與窳陋的凝視<br>移動與固著的牽扯<br>文化與消費的相望<br>我們開始顛倒看著我們的城市，<br>看著我們的世界
						p.timeline-des-p-eng Let’s imagine a city in reversal mode<br>The exchange between dark night and day time<br>The flip-over as inside-out and upside-down<br>The rubbing of tradition with contemporary<br>The challenging against discipline for liberation<br>The gaze over prosperity and deterioration<br>The combat between mobility and stability<br>The opposition from consumption to culture<br><br>Therefore, we begin to look at our city in a reversed way, so does to the world we are.
				.timeline-box(time-box='2')
					.timeline-img
						img(src="../images/timeline-img1.jpg")
					.timeline-des-wrap
						.timeline-content-head
							p 中山北路2
							p.eng-timeline-header Zhong2
						p.timeline-sub-head
							span 美軍駐台 1950
							span.timeline-sub-head-eng English 1950
						p 黑夜與白天的互換<br>內外與上下的翻轉<br>傳統與當代的揉雜<br>解放與規訓的挑釁<br>繁華與窳陋的凝視<br>移動與固著的牽扯<br>文化與消費的相望<br>我們開始顛倒看著我們的城市，<br>看著我們的世界
						p.eng-timeline-des-p Let’s imagine a city in reversal mode<br>The exchange between dark night and day time<br>The flip-over as inside-out and upside-down<br>The rubbing of tradition with contemporary<br>The challenging against discipline for liberation<br>The gaze over prosperity and deterioration<br>The combat between mobility and stability<br>The opposition from consumption to culture<br><br>Therefore, we begin to look at our city in a reversed way, so does to the world we are.
			.timeline-times-wrap
				.timeline-time-box
					.timeline-group
						.timelines(time-tag='1').current-timeline
							p 清領時期
							p.timelines-eng English
							p 1683-1895
						.timelines(time-tag='2')
							p 日治時期
							p.timelines-eng English
							p 1895-1945
						.timelines(time-tag='3')
							p 美軍駐台
							p.timelines-eng English
							p 1950
						.timelines(time-tag='4')
							p 移民社會
							p.timelines-eng English
							p 1992
						.timelines(time-tag='5')
							p 現今
							p.timelines-eng English
							p 2008
			a(href="global-network.html").blob-content-previous
				i.fas.fa-arrow-left
				span Previous
		include components/footer.pug