.about-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	.about-content-wrap {
		padding: 2em 0.9375em;
		position: relative;
		z-index: 10;
		.text-head-sub {
			font-size: 2em;
			font-weight: $font-bold;
			color: $default;
			padding: 15px 0;
			margin: 30px auto 0 auto;
			text-align: center;
			span {
				line-height: 1.2;
				padding: 0 10px;
			}
			.eng-text-head {
				font-size: .75em;
			}
		}
		.partner-block-wrap {
			width: 100%;
			display: flex;
			flex-flow: row wrap;
			margin-top: 40px;
			justify-content:space-between;
			.partner-block {
				display: flex;
				justify-content: center;
				flex-basis: 20%;
				flex-wrap: wrap;
				.partner-block-text {
					text-align: center;
					font-size: 1.25em;
					color: $default;
					span {
						display: block;
					}
				}
				.partner-block-img {
					min-width: 150px;
					padding: 15px;
					height: 115px;
					border: 1px solid $red;
					margin: 10px;
					flex: 0 0 20%;
					text-align: center;
					position: relative;
					@include for-tablet-portrait-up {
						width: 195px;
						min-width: 195px;
						height: 115px;
						margin: 20px;
					}
					img {
						position: relative;
						top: 50%;
						transform: translateY(-50%);
						max-width: 100%;
						max-height: 100%;
						width: auto;
					}
				}
			}
		}
		.partner-center {
			justify-content: center;
		}
	}
	.world-content-wrap {
		padding: 2em 0.9375em;
		position: relative;
		z-index: 10;
		.world-block-wrap {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			margin-top: 40px;
			.world-block {
				border-left: 8px solid $red;
				margin: 10px;
				flex: 0 0 15%;
				text-align: left;
				padding-left: 12px;
				align-self: center;
				min-width: 150px;
				@include for-tablet-portrait-up {
					min-width: 190px;
					margin: 20px;
				}
				p {
					font-size: 1.25em;
					margin-bottom: 0;
					@include for-tablet-portrait-up {
						font-size: 1.75em;
					}
				}
			}
		}
	}
	.team-content-wrap {
		padding: 2em 0.9375em;
		position: relative;
		z-index: 10;
		.team-block-wrap {
			margin-top: 40px;
			.team-block {
				display: flex;
				flex-wrap: no-wrap;
				p {
					font-size: 1.25em;
					color: $red;
					flex: 1 0 auto;
					margin: 10px;
					align-self: center;
				}
				.dashed-line {
					border-top: 2px dotted $red;
					height: 1px;
					flex: 100 0 auto;
					margin: 0;
					position: relative;
					&:after {
						content: '';
						width: 10px;
						height: 10px;
						@include radius(5px);
						background: $red;
						position: absolute;
						top: -6px;
						right: 0;
					}
				}
			}
		}
	}
}
.is-empty {
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0!important;
}