.access-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	background: white;
	.access-content-wrap {
		padding-top: 20px;
	}
	.access-map-block {
		position: relative;
		margin: 40px 0;
		.access-map {
			width: 100%;
			height: 540px;
		}
	}
	.access-mrt-block {
		margin: 40px 0 20px 0;
		.mrt-info-text {
			width: 100%;
			max-width: 820px;
			margin: 0 auto;
			text-align: center;
			span {
				display: block;
				font-size: 1.25em;
				color: $default;
				line-height: 2;
			}
			.mrt-info-text-eng {
				font-size: 1.125em;
			}
		}
		.mrt-station-block {
			width: 100%;
			max-width: 980px;
			margin: 40px auto;
			display: flex;
			justify-content: space-around;
			flex-flow: row wrap;
			.mrt-station {
				text-align: center;
				flex-basis: 20%;
				min-width: 150px;
				margin-bottom: 20px;
				img {
					max-width: 80px;
				}
				a {
					display: block;
					margin-top: 20px;
					text-decoration: none;
					span {
						display: block;
						font-size: 1.25em;
						line-height: 1.5;
						color: $default;
						@include transition(all .3s);
					}
					.mrt-station-eng {
						font-size: 1.125em;
					}
					&:hover {
						span {
							color: $red;
						}
					}
				}
			}
		}
		.youbike-block {
			.mrt-station {
				flex-basis: 15%;
				a {
					max-width: 120px;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
	.access-traffic-block-wrap {
		margin: 40px 0;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		.access-traffic-block {
			margin: 20px;
			width: 100%;
			max-width: 100%;
			@include for-768-up {
				max-width: 45%;
			}
			.traffic-block-text-block {
				display: flex;
				flex-wrap: no-wrap;
				justify-content: center;
				margin-bottom: 30px;
				img {
					width: 50px;
					height: 50px;
					margin: 0 10px;
					align-self: center;
					@include for-480-only {
						width: 80px;
						height: 80px;
					}
				}
				.traffic-block-text {
					max-width: 340px;
					margin: 0 10px;
					align-self: center;
					p {
						font-size: 1.25em;
						color: $default;
					}
				}
			}
				
		}
	}
}