.blob-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	.blob-content-wrap {
		padding: 2em 0.9375em;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		@include for-768-up {
			flex-wrap: no-wrap;
		}
		.blob-img {
			width: 100%;
			max-width: 100%;
			@include for-768-up {
				max-width: 55%;
			}
		}
		.blob-des-wrap {
			width: 100%;
			max-width: 100%;
			text-align: center;
			.blob-content-head {
				display: block;
				background: #da3721; /* Old browsers */
				background: -moz-linear-gradient(left, #da3721 0%, #502470 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, #da3721 0%,#502470 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, #da3721 0%,#502470 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da3721', endColorstr='#502470',GradientType=1 ); /* IE6-9 */
				padding: 15px 30px;
				margin-bottom: 50px;
				p {
					font-size: 1.75em;
					color: white;
					margin-bottom: 0;
				}
				p.eng-blob-header {
					font-size: 1.25em;
				}
			}
			p {
				font-size: 1.375em;
				margin-bottom: 20px;
				padding: 0 1em;
			}
			p.eng-blob-des-p {
				font-size: 1.125em;
			}
			@include for-768-up {
				max-width: 43%;
				margin: 0 1%;
				.blob-content-head {
					display: inline-block;
					p {
						font-size: 2em;
					}
					p.eng-blob-header {
						font-size: 1.5em;
					}
				}
				p {
					font-size: 1.75em;
				}
				p.eng-blob-des-p {
					font-size: 1.375em;
				}
			}
		}
	}
}