.category-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	.time-content-wrap {
		padding: 2em 0.9375em;
		position: relative;
		background: #e0e0df;
		z-index: 10;
		&:after {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: -99%;
			right: -99%;
			width: 999%;
			background: #e0e0df;
			z-index: -1;
		}
		.time-schedule-wrap {
			width: 100%;
			height: auto;
			margin: 40px 0;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			@include for-tablet-landscape-up {
				flex-wrap: no-wrap;
			}
			.time-schedule-block {
				display: inline-block;
				width: 100%;
				margin-bottom: 40px;
				@include for-tablet-landscape-up {
					width: 49%;
					margin-bottom: 0;
				}
				p {
					text-align: center;
					color: $red;
					font-size: 1.5em;
					font-weight: $font-bold;
					border-bottom: none;
					margin-bottom: 0;
					@include for-tablet-portrait-up {
						border-bottom: 4px solid $red;
						font-size: 1.75em;
					}
					@include for-tablet-landscape-up {
						font-size: 1.5em;
					}
					@include for-mid-foundation-up {
						font-size: 1.75em;
					}
				}
				.time-schedule-date {
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					@include for-tablet-portrait-up {
						flex-wrap: no-wrap;
					}
					p {
						border: 1px solid $red;
						padding: 0 10px;
						cursor: pointer;
						flex-grow: 1;
						width: 33.333%;
						@include transition(all .3s);
						@include for-tablet-portrait-up {
							width: auto;
							border: none;
						}
						span {
							display: inline-block;
							font-size: 0.875em;
							@include transition(all .3s);
							@include for-tablet-portrait-up {
								display: block;
							}
						}
						&:hover {
							background: $red;
							span {
								color: white;
							}
						}
					}
					.active-schedule {
						background: $red;
						span {
							color: white;
						}
					}
				}
				.time-schedule-content-description-p {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
			}
		}
	}
	.category-content-wrap {
		padding: 2em 0.9375em;
		position: relative;
		z-index: 10;
		.category-content-block {
			margin: 50px auto 10px auto;
			position: relative;
			z-index: 5;
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;
			@include for-mid-foundation-up {
				justify-content: center;
			}
			.category-filter {
				display: inline-block;
				margin: 0 10px;
				padding: 5px 10px;
				cursor: pointer;
				position: relative;
				text-align: left;
				width: 40%;
				@include for-tablet-portrait-up {
					width: auto;
					text-align: center;
					margin: 0 20px;
				}
				&:after {
					content: '';
					display: block;
					width: 0;
					height: 4px;
					background: $red;
					margin-left: -10%;
					margin-top: 3px;
					@include transition(all .3s);
				}
				&:hover {
					&:after {
						width: 120%;
					}
				}
				.category-filter-text {
					display: inline-block;
					vertical-align: middle;
					span {
						font-size: 1.125em;
						color: $default;
						vertical-align: middle;
						line-height: 1.2;
						display: block;
						@include for-tablet-portrait-up {
							font-size: 1.375em;
						}
					}
					span.category-filter-eng {
						font-size: 1em;
						@include for-tablet-portrait-up {
							font-size: 1.125em;
						}
					}
				}
			}
			.category-filter-performance {
				display: inline-block;
				.category-filter-ball {
					@include circle(22px, $red, 0, 1em);
					margin-right: 10px;
				}
			}
			.category-filter-visual {
				display: inline-block;
				.category-filter-ball {
					@include circle(22px, $purple, 0, 1em);
					margin-right: 10px;
				}
			}
			.category-filter-activity {
				display: inline-block;
				.category-filter-ball {
					@include circle(22px, $green, 0, 1em);
					margin-right: 10px;
				}
			}
			.category-filter-program {
				display: inline-block;
				.category-filter-ball {
					@include circle(22px, $pink, 0, 1em);
					margin-right: 10px;
				}
			}
			.category-filter-active {
				&:after {
					width: 120%;
				}
			}
		}
	}
}
.time-schedule-content-wrap, .category-schedule-content-wrap {
	margin-top: 30px;
	max-width: 100%;
	position: relative;
	z-index: 10;
	.row {
		display: none;
	}
	.time-schedule-content-block {
		margin-bottom: 20px;
		.time-schedule-content {
			background: white;
			.time-schedule-logo {
				position: relative;
				display: block;
				&:after {
					content: '';
					display: block;
					width: 100%;
					height: 100%;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					z-index: 5;
					opacity: 0;
					@include transition(all .3s);
				}
				.time-schedule-type {
					position: absolute;
					bottom: 0;
					left: 0;
					padding: 10px 20px;
					z-index: 10;
					span {
						display: block;
						line-height: 1.2;
						font-size: 1.375em;
						color: white;
					}
					.time-schedule-type-eng {
						font-size: 1.125em;
					}
				}
			}
			.time-schedule-map, .time-schedule-location {
				display: block;
				padding: 10px 40px;
				text-align: center;
				text-decoration: none;
				position: relative;
				@include transition(all .3s);
				@include for-tablet-portrait-up {
					padding: 10px 25px;
				}
				&:after {
					display: block;
					width: 18px;
					height: 18px;
					position: absolute;
					right: 10px;
					top: 0;
					bottom: 0;
					margin: auto;
				}
				span {
					display: block;
					line-height: 1.2;
					font-size: 1.375em;
				}
				.time-schedule-map {
					font-size: 1.125em;
				}
			}
			.time-schedule-location {
				&:after {
					width: 18px;
					height: 12px;
				}
			}
			.time-schedule-content-description {
				padding: 20px;
				p {
					span {
						display: block;
						line-height: 1.2;
						color: $default;
					}
				}
				.time-schedule-content-description-title {
					display: block;
					text-decoration: none;
					color: $default;
					margin-bottom: 1rem;
					@include transition(all .3s);
					span {
						display: block;
						line-height: 1.2;
						font-size: 1.625em;
					}
					.time-schedule-content-description-title-eng {
						font-size: 1.375em;
					}
				}
				.time-schedule-content-description-artist {
					font-size: 1.125em;
				}
				.time-schedule-content-description-p {
					span {
						display: block;
					}
					.time-schedule-content-description-p-eng {
						margin-top: 5px;
					}
				}
			}
		}
		.time-schedule-content-performance {
			border: 4px solid $red;
			.time-schedule-logo {
				border-bottom: 4px solid $red;
				&:after {
					background: $red;
				}
				&:hover {
					&:after {
						opacity: 0.5;
					}
				}
				.time-schedule-type {
					background: $red;
				}
			}
			.time-schedule-map {
				border-bottom: 4px solid $red;
				span {
					color: $red;
				}
				&:after {
					content: url(../images/map-icon-red.svg);
				}
				&:hover {
					background: rgba(233,85,19, .2);
				}
			}
			.time-schedule-location {
				border-bottom: 4px solid $red;
				span {
					color: $red;
				}
				&:after {
					content: url(../images/location-icon-red.svg);
				}
				&:hover {
					background: rgba(233,85,19, .2);
				}
			}
			.time-schedule-content-description {
				.time-schedule-content-description-title {
					&:hover {
						color: $red;
					}
				}
			}
		}
		.time-schedule-content-visual {
			border: 4px solid $purple;
			.time-schedule-logo {
				border-bottom: 4px solid $purple;
				&:after {
					background: $purple;
				}
				&:hover {
					&:after {
						opacity: 0.5;
					}
				}
				.time-schedule-type {
					background: $purple;
				}
			}
			.time-schedule-map {
				border-bottom: 4px solid $purple;
				span {
					color: $purple;
				}
				&:after {
					content: url(../images/map-icon-purple.svg);
				}
				&:hover {
					background: rgba(95,25,133, .2);
				}
			}
			.time-schedule-location {
				border-bottom: 4px solid $purple;
				span {
					color: $purple;
				}
				&:after {
					content: url(../images/location-icon-purple.svg);
				}
				&:hover {
					background: rgba(95,25,133, .2);
				}
			}
			.time-schedule-content-description {
				.time-schedule-content-description-title {
					&:hover {
						color: $purple;
					}
				}
			}
		}
		.time-schedule-content-activity {
			border: 4px solid $green;
			.time-schedule-logo {
				border-bottom: 4px solid $green;
				&:after {
					background: $green;
				}
				&:hover {
					&:after {
						opacity: 0.5;
					}
				}
				.time-schedule-type {
					background: $green;
				}
			}
			.time-schedule-map {
				border-bottom: 4px solid $green;
				span {
					color: $green;
				}
				&:after {
					content: url(../images/map-icon-green.svg);
				}
				&:hover {
					background: rgba(0,161,153, .2);
				}
			}
			.time-schedule-location {
				border-bottom: 4px solid $green;
				span {
					color: $green;
				}
				&:after {
					content: url(../images/location-icon-green.svg);
				}
				&:hover {
					background: rgba(0,161,153, .2);
				}
			}
			.time-schedule-content-description {
				.time-schedule-content-description-title {
					&:hover {
						color: $green;
					}
				}
			}
		}
		.time-schedule-content-program {
			border: 4px solid $pink;
			.time-schedule-logo {
				border-bottom: 4px solid $pink;
				&:after {
					background: $pink;
				}
				&:hover {
					&:after {
						opacity: 0.5;
					}
				}
				.time-schedule-type {
					background: $pink;
				}
			}
			.time-schedule-map {
				border-bottom: 4px solid $pink;
				span {
					color: $pink;
				}
				&:after {
					content: url(../images/map-icon-pink.svg);
				}
				&:hover {
					background: rgba(229,19,115, .2);
				}
			}
			.time-schedule-location {
				border-bottom: 4px solid $pink;
				span {
					color: $pink;
				}
				&:after {
					content: url(../images/location-icon-pink.svg);
				}
				&:hover {
					background: rgba(229,19,115, .2);
				}
			}
			.time-schedule-content-description {
				.time-schedule-content-description-title {
					&:hover {
						color: $pink;
					}
				}
			}
		}
	}
	.time-schedule-content-active {
		display: flex;
	}
}
.category-schedule-content-wrap {
	.row {
		display: flex;
	}
}