footer {
	width: 100%;
	height: 95px;
	background: #da3721; /* Old browsers */
	background: -moz-linear-gradient(left, #da3721 0%, #502470 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #da3721 0%,#502470 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #da3721 0%,#502470 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da3721', endColorstr='#502470',GradientType=1 ); /* IE6-9 */
	display: flex;
	justify-content: center;
	@include transition(all .3s);
	@include for-tablet-portrait-up {
		height: 260px;
	}
	.footer-logo {
		width: 90px;
		display: inline-block;
		align-self: center;
		@include transition(all .3s);
		@include for-tablet-portrait-up {
			width: 240px;
		}
	}
	.footer-time {
		position: relative;
		display: inline-block;
		align-self: center;
		margin-left: 20px;
		canvas {
			position: absolute;
			top: -20px;
			left: -7px;
			@include transition(all .3s);
			@include for-tablet-portrait-up {
				top: -47px;
			}
		}
		.footer-circle {
			display: block;
			position: absolute;
			z-index: 1;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			margin-top: auto;
			margin-bottom: auto;
			width: 70px;
			height: 70px;
			@include radius(35px);
			background: #dbdcdc;
			@include transition(all .3s);
			@include for-tablet-portrait-up {
				width: 160px;
				height: 160px;
				@include radius(80px);
			}
		}
		p {
			position: relative;
			z-index: 2;
			color: $red;
			font-size: 0.875em;
			font-weight: $font-bold;
			margin-bottom: 5px;
			@include transition(all .3s);
			@include for-tablet-portrait-up {
				font-size: 1.375em;
			}
		}
	}
}