header {
	width: 100%;
	position: fixed;
	z-index: 999;
	display: flex;
  	justify-content: center;
  	@include transition(all .3s);
  	a {
  		cursor: pointer;
  	}
  	.header-wrap {
		width: 100%;
		max-width: 1280px;
		margin: auto;
		display: none;
  		justify-content: center;
  		@include transition(all .3s);
  		@include clearfix;
  		@include for-mid-foundation-up {
	  		display: flex
	  	}
		.header-left {
			float: left;
			width: 100%;
			max-width: 250px;
			align-self: center;
			position: relative;
			padding-left: 15px;
			.header-logo {
				float: left;
				display: inline-block;
				width: 0;
				overflow: hidden;
				@include transition(all .3s);
			}
			.header-logo-alt {
				position: absolute;
				top: -120px;
				left: -50px;
				width: 300px;
			}
			.header-time {
  				vertical-align: middle;
				p {
					font-size: 2em;
					color: $red;
					font-weight: $font-medium;
					margin-bottom: 0;
					@include transition(all .3s);
				}
				.header-circle {
					display: none;
				}
			}
			.header-time-alt {
				margin-top: 160px;
			}
		}
		.header-menu {
			width: 100%;
			height: auto;
			float: right;
			position: relative;
			display: inline-block;
			a {
				font-weight: $font-light;
			}
			ul {
				float: right;
				margin-right: 60px;
				display: block;
				margin-left: 0;
				.menu-nav {
					width: auto;
					margin: 0 15px;
					display: inline-block;
					padding: 20px 0 30px 0;
					position: relative;
					@include transition(all .5s);
					&:before {
						content: '';
						position: absolute;
						bottom: 30px;
						display: block;
						width: 0%;
						height: 4px;
						background: $purple;
						@include transition(all .5s);
					}
					&:after {
						content: '';
						display: block;
						width: 100%;
						height: 4px;
						background: $red;
						@include transition(all .5s);
					}
					&:first-child {
						margin-left: 0;
					}
					&:last-child {
						margin-right: 0;
					}
					a {
						// padding: 0 10px;
						text-decoration: none;
						display: inline-block;
						text-align: center;
						min-width: 80px;
						vertical-align: top;
						span {
							display: block;
							font-size: 1.125em;
							color: $grey;
							line-height: 1.3;
						}
					}
					.sub-menu {
						position: absolute;
						display: block;
						margin: 10px auto 0 auto;
						z-index: 99;
						left: 0;
						right: 0;
						text-align: center;
						li {
							float: none;
							display: block;
							padding: 5px 0;
							position: relative;
							@include transition(all .3s);
							a {
								color: $grey;
								@include transition(all .3s);
								span {
									@include transition(all .3s);
								}
								&:hover {
									span {
										color: $purple;
									}
								}
							}
							&:before {
								content: '';
								position: absolute;
								bottom: 5px;
								display: block;
								width: 0;
								height: 3px;
								background: $purple;
								@include transition(all .5s);
							}
							&:after {
								content: '';
								display: block;
								width: 100%;
								height: 3px;
								background: $red;
								@include transition(all .5s);
							}
							&:hover {
								a {
									color: $purple;
								}
								&:before {
									width: 100%; 
								}
							}
						}
						.current-submenu {
							&:before {
								width: 100%; 
							}
						}
					}
					&:hover {
						&>a span {
							color: $purple;
						}
						&:before {
							width: 100%; 
						}
					}
					.sub-menu-hack {
						width: 200%;
						margin-left: -35px;
					}
					.sub-menu-hack-2 {
						width: 150%;
						margin-left: -20px;
					}
				}
				.no-line {
					&:after {
						width: 0;
					}
					&:hover {
						&:before {
							width: 0; 
						}
					}
				}
				.current-menu {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
	.mobile-menu-button {
		width: 50px;
		height: 50px;
		position: absolute;
		right: 0;
		top: 0;
		background: $yellow;
		border: none;
		cursor: pointer;
		opacity: 1;
		@include for-mid-foundation-up {
			display: none;
		}
		span {
			display: block;
			position: absolute;
			height: 4px;
			width: 60%;
			left: 0;
			right: 0;
			margin: auto;
			background: $red;
			@include radius(4px);
			@include transition(all .3s);
			&:nth-child(1) {
				top: 17px;
			}
			&:nth-child(2) {
				top: 24px;
			}
			&:nth-child(3) {
				top: 31px;
			}
		}
		&:hover {
			span:nth-child(1) {
				top: 15px;
			}
			span:nth-child(3) {
				top: 33px;
			}
		}
	}
	.mobile-header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(242, 230,39,.9);
		overflow: auto;
		display: none;
		.mobile-menu-button-close {
			@extend .mobile-menu-button;
			position: fixed;
			background: $default;
			top: 20px;
			right: 25px;
			span {
				&:nth-child(1) {
					top: 24px;
					-webkit-transform: rotate(135deg);
					-moz-transform: rotate(135deg);
					-o-transform: rotate(135deg);
					transform: rotate(135deg);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					top: 25px;
					-webkit-transform: rotate(-135deg);
					-moz-transform: rotate(-135deg);
					-o-transform: rotate(-135deg);
					transform: rotate(-135deg);
				}
			}
			&:hover {
				span:nth-child(1) {
					top: 24px;
					-webkit-transform: rotate(495deg);
					-moz-transform: rotate(495deg);
					-o-transform: rotate(495deg);
					transform: rotate(495deg);
				}
				span:nth-child(3) {
					top: 25px;
					-webkit-transform: rotate(225deg);
					-moz-transform: rotate(225deg);
					-o-transform: rotate(225deg);
					transform: rotate(225deg);
				}
			}
		}
		.mobile-facebook {
			position: fixed;
			right: 25px;
			top: 95px;
			width: 50px;
			height: 50px;
			cursor: pointer;
		}
		.mobile-menu-nav {
			text-align: center;
			padding-top: 70px;
			a {
				display: block;
				margin-bottom: 15px;
				font-size: 1.25em;
				color: $grey;
				text-decoration: none;
				@include transition(all .3s);
				span {
					// display: block;
					padding: 0 5px;

				}
				.eng-mobile-menu {
					// font-size: .875em;
				}
				&:hover {
					color: $purple;
				}
			}
			.mobile-menu-head {
				color: $red;
			}
			.mobile-header-line {
				position: relative;
				&:after {
					content: '';
					display: block;
					height: 4px;
					width: 180px;
					background: $red;
					margin: 0 auto;
					@include transition(all .3s);
				}
				&:before {
					content: '';
					display: block;
					height: 4px;
					width: 0;
					background: $purple;
					left: 0;
					right: 0;
					margin: auto;
					bottom: 0;
					position: absolute;
					@include transition(all .3s);
				}
				&:hover {
					&:before {
						width: 260px;
					}
				}
				@include for-small-phone-only {
					&:after {
						width: 150px;
					}
					&:hover {
						&:before {
							width: 150px;
						}
					}
				}
				@include for-480-only {
					&:after {
						width: 260px;
					}
					&:hover {
						&:before {
							width: 260px;
						}
					}
				}
			}
			.mobile-header-active {
				color: $purple;
				&:after {
					background: $purple;
				}
			}
		}
	}
}

.shrink {
	height: 50px;
	background: none;
	@include for-mid-foundation-up {
		background: rgba(35,24,21,.7);
		height: 140px;
	}
	.header-wrap {
		padding-top: 0;
		.header-left {
			.header-logo {
				float: none;
				overflow: visible;
				width: 100px;
				display: inline-block;
			}
			.header-logo-alt {
				display: none!important;
			}
			.header-time {
				display: inline-block;
				margin-left: 10px;
				position: relative;
				p {
					font-size: 1em;
					color: $red;
					font-weight: $font-medium;
					margin-bottom: 0;
					line-height: 1.2;
				}
				.header-circle {
					display: block;
					position: absolute;
					z-index: -1;
					left: 0;
					right: 0;
					top: 0;
					bottom: 0;
					margin-top: auto;
					margin-bottom: auto;
					width: 80px;
					height: 80px;
					@include radius(40px);
					background: rgba(255,255,255,.7);
				}
			}
		}
		.header-menu {
			display: flex;
			justify-content: flex-end;
			align-self: center;
			ul {
				margin-bottom: 0;
				.menu-nav {
					padding: 30px 0 20px 0;
					a span {
						color: white;
						@include transition(all .3s);
					}
					&:before {
						background: $yellow;
						bottom: 10px;
					}
					&:after {
						display: none;
					}
					&:hover {
						a span {
							color: $yellow;
						}
					}
				}
				.menu-dropdown {
					height: 100%;
					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 0;
						height: 0;
						right: -15px;
						top: 40px;
						border-left: 7px solid transparent;
						border-right: 7px solid transparent;
						border-top: 7px solid white;
						background: none;
						@include transition(all .3s);
					}
					ul {
						display: none;
						opacity: 0;
						@include transition(all .3s);
					}
					.sub-menu {
						.background-hack-1, .background-hack-2, .background-hack-3, .background-hack-4 {
							display: block;
							position: absolute;
							height: 65px;
							margin-left: -9999px;
							margin-right: -9999px;
							width: 100000px;
							left: -10%;
							background: rgba(35,24,21,.7);
						}
						.background-hack-1 {
							top: 38px;
						}
						.background-hack-2 {
							height: 83px;
							top: 38px;
						}
						.background-hack-3 {
							height: 177px;
							top: 38px;
						}
						.background-hack-4 {
							height: 227px;
							top: 38px;
						}
						li {
							&:before {
								background: $yellow;
							}
							&:after {
								background: white;
							}
						}
					}
					&:hover {
						&:after {
							-webkit-transform: rotate(180deg);
							-moz-transform: rotate(180deg);
							-o-transform: rotate(180deg);
							transform: rotate(180deg);
							border-top: 7px solid $yellow;
							background: none;
						}
						.sub-menu {
							display: block;
							opacity: 1;
							a {
								span {
									color: white;
								}
								&:hover span {
									color: $yellow;
								}
							}
						}
					}
				}
			}
		}
	}
}
