.index-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	padding-top: 0;
	.index-video {
		text-align: center;
		margin-top: 0;
		@include for-480-only {
			margin-top: 30px;
		}
		video {
			width: 100%;
			max-width: 1100px;
		}
	}
	.nb-info {
		margin-top: 30px;
		max-width: 1160px;
		p {
			color: #231815;
		}
		canvas {
			position: absolute;
			left: -200px;
			z-index: 2;
			display: none;
			@include for-768-up {
				display: block;
			}
		}
		.nb-info-img, .nb-info-text-wrap {
			position: relative;
			z-index: 5;
		}
		.nb-info-img {
			display: none;
			@include for-768-up {
				display: block;
			}
		}
		.nb-info-text-wrap {
			text-align: center;
			.nb-sub-info-text {
				font-size: 1.75em;
				margin-top: 30px;
			}
			.nb-info-text {
				font-size: 1.375em;
				line-height: 1.5;
				max-width: 575px;
				margin: 60px auto 0 auto;
			}
		}
	}
	.index-route-wrap {
		margin-top: 30px;
		width: 100%;
		.index-route-head {
			max-width: 1160px;
			margin: 0 auto;
			h4 {
				margin: 0 auto;
			}
		}
		.index-route-filter {
			max-width: 1160px;
			margin: 25px auto 0 auto;
			.tab-content > .tab-pane {
				padding: 25px 15px;
				@include for-tablet-portrait-up {
					padding: 25px 70px;
				}
			}
			.north-location-wrap, .south-location-wrap {
				display: flex;
  				flex-wrap: wrap;
				.north-location, .south-location {
				  display: inline-block;
				  padding: 10px 15px;
				  border: 1px solid $red;
				  color: $red;
				  margin-bottom: 20px;
				  font-size: 1.125em;
				  margin-right: 20px;
				  cursor: pointer;
				  @include transition(all .3s);
				  span {
				  	display: block;
				  }
				  span.eng-route {
				  	font-size: 0.875em;
				  }
				  &:hover {
				  	background: $red;
				  	color: white;
				  }
				}
				.location-active {
					background: $red;
				  	color: white;
				}
			}
			.north-type-filter-wrap, .south-type-filter-wrap {
				display: flex;
				flex-wrap: wrap;
				margin-top: 20px;
				.north-type-filter, .south-type-filter {
					padding: 0 40px;
					position: relative;
					cursor: pointer;
					margin-bottom: 15px;
					span {
						display: block;
						font-size: 1.25em;
						color: $default;
					}
					span.eng-type {
						font-size: 0.875em;
					}
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 10px;
						top: 4px;
						width: 20px;
						height: 20px;
						@include radius(10px);
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						width: 0;
						height: 2px;
						bottom: -5px;
						left: 10px;
						@include transition(all .3s);
					}
					&:hover {
						&:after {
							width: 80%;
						}
					}
				}
				.type-black {
					&:before {
						background: $default;
					}
					&:after {
						background: $default;
					}

				}
				.type-purple {
					&:before {
						background: $purple;
					}
					&:after {
						background: $default;
					}
				}
				.type-red {
					&:before {
						background: $red;
					}
					&:after {
						background: $red;
					}
				}
				.type-green {
					&:before {
						background: $green;
					}
					&:after {
						background: $green;
					}
				}
				.type-pink {
					&:before {
						background: $pink;
					}
					&:after {
						background: $pink;
					}
				}
				.type-active {
					&:after {
						width: 80%;
					}
				}
			}
		}
	}
	@include for-tablet-landscape-up {
		padding-top: 30px;
	}
}
