.program-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	.program-content-wrap {
		padding: 2em 0.9375em;
		position: relative;
		.program-content-block {
			margin: 30px auto;
			text-align: center;
			position: relative;
			z-index: 5;
			.program-filter {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				@include for-480-only {
					display: block;
				}
			}
			.program-filter {
				display: inline-block;
				margin: 0 20px;
				padding: 5px 10px;
				cursor: pointer;
				position: relative;
				@include for-480-only {
					margin-top: 20px;
				}
				&:after {
					content: '';
					display: block;
					width: 0;
					height: 4px;
					background: $red;
					margin-left: -10%;
					margin-top: 3px;
					@include transition(all .3s);
				}
				&:hover {
					&:after {
						width: 120%;
					}
				}
				.program-filter-text {
					display: inline-block;
					vertical-align: middle;
					span {
						font-size: 1.375em;
						color: $default;
						vertical-align: middle;
						line-height: 1.2;
						display: block;
					}
					span.program-filter-eng {
						font-size: 1.125em;
					}
				}
			}
			.program-filter-event {
				display: inline-block;
				.program-filter-ball {
					@include circle(22px, #887100, 0, 1em);
					margin-right: 10px;
				}
			}
			.program-filter-movie {
				display: inline-block;
				.program-filter-ball {
					@include circle(22px, #c8a63b, 0, 1em);
					margin-right: 10px;
				}
			}
			.program-filter-exhibition {
				display: inline-block;
				.program-filter-ball {
					@include circle(22px, #8dc21f, 0, 1em);
					margin-right: 10px;
				}
			}
			.program-filter-active {
				&:after {
					width: 120%;
				}
			}
			.programs {
				margin-top: 40px;
				.program-block {
					margin-bottom: 30px;
					background: white;
					button:focus {
						outline: none;
					}
					.program-logo {
						width: 100%;
						height: 270px;
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;
						border: none;
						@include transition(all .3s);
						.program-img {
							@include circle(170px, white, 0, 0);
							background: center center no-repeat;
							background-size: cover;
						}
						.program-type {
							position: absolute;
							color: white;
							padding: 10px 15px 5px 15px;
							min-width: 95px;
							bottom: 0;
							left: 0;
							span {
								display: block;
								line-height: 1.2;
							}
						}
					}
					.program-location {
						display: block;
						padding: 10px 30px;
						text-decoration: none;
						position: relative;
						@include transition(all .3s);
						span {
							display: block;
							font-size: 1.25em;
							@include transition(all .3s);
						}
						.program-location-eng {
							font-size: 1em;
						}
						&:after {
							content: '';
							display: block;
							position: absolute;
							right: 20px;
							top: 0;
							bottom: 0;
							margin: auto;
							width: 20px;
							height: 25px;
							background: url(../images/location-icon-pink.svg) center center no-repeat;
						}
					}
					.program-detail-btn {
						display: block;
						color: white;
						border: none;
						width: 100%;
						padding: 10px 20px;
						@include transition(all .3s);
						span {
							display: block;
							line-height: 1.2;
							font-size: 1.25em;
							@include transition(all .3s);
						}
						.program-detail-btn-eng {
							font-size: 1em;
						}
					}
				}
				.program-type-event {
					border: 4px solid #887100;
					.program-logo {
						border-bottom: 4px solid #887100;
						&:hover {
							background: rgba(136,113,0, .3);
						}
						.program-type {
							background: #887100;
						}
					}
					.program-location {
						span {
							color: #887100;
						}
						&:hover {
							background: rgba(136,113,0, .3);
							span {
								// color: white;
							}
						}
					}
					.program-detail-btn {
						background: #887100;
						border-top: 2px solid #887100;
						&:hover {
							background: white;
							span {
								color: #887100;
							}
						}
					}
				}
				.program-type-movie {
					border: 4px solid #c8a63b;
					.program-logo {
						border-bottom: 4px solid #c8a63b;
						&:hover {
							background: rgba(200,166,59,.3);
						}
						.program-type {
							background: #c8a63b;
						}
					}
					.program-location {
						span {
							color: #c8a63b;
						}
						&:hover {
							background: rgba(200,166,59,.3);
							span {
								// color: white;
							}
						}
					}
					.program-detail-btn {
						background: #c8a63b;
						border-top: 2px solid #c8a63b;
						&:hover {
							background: white;
							span {
								color: #c8a63b;
							}
						}
					}
				}
				.program-type-exhibition {
					border: 4px solid #8dc21f;
					.program-logo {
						border-bottom: 4px solid #8dc21f;
						&:hover {
							background: rgba(141,194,31,.3);
						}
						.program-type {
							background: #8dc21f;
						}
					}
					.program-location {
						span {
							color: #8dc21f;
						}
						&:hover {
							background: rgba(141,194,31,.3);
							span {
								// color: white;
							}
						}
					}
					.program-detail-btn {
						background: #8dc21f;
						border-top: 2px solid #8dc21f;
						&:hover {
							background: white;
							span {
								color: #8dc21f;
							}
						}
					}
				}
			}
		}
	}
}
.modal-body {
	position: relative;
	margin: 0 auto 10px auto;
	display: block;
	flex-wrap: no-wrap;
	@include for-640-up {
		display: flex;
		margin: 5% auto;
	}
	.close {
		position: absolute;
		right: 0;
		top: 15px;
		span {
			font-size: 1.5em;
			padding: 15px 30px;
		}
	}
	.program-modal-left {
		width: 100%;
		max-width: 100%;
		padding: 1em;
		display: flex;
		margin-top: 50px;
		@include for-640-up {
			max-width: 350px;
			display: block;
			margin-top: 0;
			text-align: center;
		}
		.program-modal-left-img {
			@include circle(120px, white, 0 auto, 0);
			background-size: cover;
			margin: 0 auto;
			@include for-640-up {
				@include circle(120px, white, 40px 0, 0);
				background-size: cover;
			}
		}
		.program-modal-left-detail {
			max-width: 250px;
			margin: 0 auto;
			text-align: left;
			@include for-640-up {
				max-width: 350px;
				text-align: center;
			}
			a {
				display: block;
				text-decoration: none;
				margin-bottom: 15px;
				&:after {
					content: '';
					display: block;
					width: 0%;
					height: 4px;
					margin: 3px auto 0 auto;
					@include transition(all .3s);
				}
				span {
					display: block;
					color: $default;
					font-size: 1em;
					line-height: 1.2;
					@include for-640-up {
						font-size: 1.25em;
					}
				}
				.program-modal-left-detail-eng {
					font-size: 0.875em;
					@include for-640-up {
						font-size: 1em;
					}
				}
			}
			.program-modal-left-detail-location {
				margin-bottom: 15px;
				@include for-640-up {
					margin-bottom: 40px;
				}
				.program-modal-left-detail-location-text {
					display: inline-block;
					vertical-align: middle;
					max-width: 150px;
					@include for-640-up {
						max-width: auto;
					}
				}
				.program-modal-left-detail-location-marker {
					display: inline-block;
					width: 20px;
					height: 25px;
					margin: 0 15px;
					background: url(../images/location-icon-pink.svg) center center no-repeat;
				}
			}
		}
	}
	.program-modal-right {
		padding: 2em;
		text-align: left;
		p {
			span {
				color: $default;
				font-size: 1.125em;
				display: block;
				@include for-640-up {
					font-size: 1.375em;
				}
			}
		}
		.program-modal-right-head {
			margin-top: 40px;
			&:first-child {
				margin-top: 0;
			}
			span {
				color: $pink;
				font-size: 1.5em;
				line-height: 1.2;
				@include for-640-up {
					font-size: 1.75em;
				}
			}
			.program-modal-right-head-eng {
				font-size: 1.25em;
				@include for-640-up {
					font-size: 1.5em;
				}
			}
		}
	}
}
.modal-event {
	.modal-content {
		border: 2px solid #887100;
		padding: 0;
		@include for-640-up {
			border: none;
			padding: 0 1em;
		}
	}
	.modal-body {
		border: none;
		@include for-640-up {
			border: 4px solid #887100;
		}
		.program-modal-left {
			border-right: none;
			@include for-640-up {
				border-right: 4px solid #887100;
			}
			.program-modal-left-detail {
				a {
					&:after {
						background: #887100;
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}
				}
				.program-modal-left-detail-location {
					span {
						color: #887100;
					}
				}
			}
		}
	}
}
.modal-movie {
	.modal-content {
		border: 2px solid #c8a63b;
		padding: 0;
		@include for-640-up {
			border: none;
			padding: 0 1em;
		}
	}
	.modal-body {
		border: none;
		@include for-640-up {
			border: 4px solid #c8a63b;
		}
		.program-modal-left {
			border-right: none;
			@include for-640-up {
				border-right: 4px solid #c8a63b;
			}
			.program-modal-left-detail {
				a {
					&:after {
						background: #c8a63b;
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}
				}
				.program-modal-left-detail-location {
					span {
						color: #c8a63b;
					}
				}
			}
		}
	}
}
.modal-exhibition {
	.modal-content {
		border: 2px solid #c8a63b;
		padding: 0;
		@include for-640-up {
			border: none;
			padding: 0 1em;
		}
	}
	.modal-body {
		border: none;
		@include for-640-up {
			border: 4px solid #8dc21f;
		}
		.program-modal-left {
			border-right: none;
			@include for-640-up {
				border-right: 4px solid #8dc21f;
			}
			.program-modal-left-detail {
				a {
					&:after {
						background: #8dc21f;
					}
					&:hover {
						&:after {
							width: 100%;
						}
					}
				}
				.program-modal-left-detail-location {
					span {
						color: #8dc21f;
					}
				}
			}
		}
	}
}