.route-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	.route-content-wrap {
		padding: 2em 0.9375em;
		position: relative;
		.route-content-block {
			margin-top: 60px;
			position: relative;
			z-index: 5;
			.nav-tabs {
				padding: 0 0 1px 0;
				@include for-tablet-landscape-up {
					padding: 0 70px 1px 70px;
				}
				.nav-item {
					padding: 10px 20px;
					@include for-phone-only {
						padding: 10px 40px;
					}
				}
				.nav-item span {
					font-size: 1.25em;
					@include for-phone-only {
						font-size: 1.5em;
					}
				}
				.nav-item span.eng-nav-item {
					font-size: 1em;
					@include for-phone-only {
						font-size: 1.25em;
					}
				}
			}

			.tab-content > .tab-pane {
				padding: 0;
			}
			.route-block-wrap {
				padding: 40px 0 0 0;
				border: 4px solid $red;
				display: block;
				flex-wrap: no-wrap;
				margin: 30px 0;
				background: white;
				@include for-tablet-landscape-up {
					border: none;
					border-bottom: 1px solid $purple;
					display: flex;
					margin: 0;
					padding: 40px 0;
				}

				.route-profile-block {
					text-align: left;
					width: 100%;
					max-width: 100%;
					padding: 0 1em;
					margin: 0;
					background: white;
					display: flex;
					align-items: center;
					@include clearfix;
					@include for-tablet-landscape-up {
						text-align: center;
						max-width: 200px;
						margin-right: 0 25px 0 50px;
						-webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
						-moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
						box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5);
						display: block;
					}
					@include for-mid-foundation-up {
						max-width: 280px;
					}
					.route-profile-img {
						margin: 20px auto;
						width: 120px;
						height: 120px;
						display: inline-block;
						vertical-align: middle;
						@include radius(85px);
						background: center center no-repeat;
						background-size: cover;
						float: left;
						@include for-tablet-landscape-up {
							display: block;
							float: none;
						}
						@include for-mid-foundation-up {
							width: 170px;
							height: 170px;
						}
					}
					.route-profile-des {
						display: inline-block;
						width: calc(100% - 150px);
						vertical-align: middle;
						@include for-tablet-landscape-up {
							display: block;
							width: auto;
						}
						p {
							font-size: 1.125em;
							color: $default;
							@include for-mid-foundation-up {
								font-size: 1.375em;
							}
						}
						.route-profile-des-eng {
							font-size: 1em;
							@include for-mid-foundation-up {
								font-size: 1.125em;
							}
						}
					}
				}
				.route-detail-block {
					border: none;
					margin: 0;
					padding: 60px 0 30px 0;
					position: relative;
					overflow: visible;
					@include for-tablet-landscape-up {
						border: 4px solid $red;
						margin: 0 50px 0 25px;
						padding: 60px 30px 30px 30px;
						overflow: hidden;
					}
					.route-detail-title {
						background: $red;
						display: block;
						padding: 10px 20px;
						position: absolute;
						width: 100%;
						top: 0;
						left: 0;
						text-align: center;
						@include for-tablet-landscape-up {
							display: inline-block;
							width: auto;
						}
						span {
							display: block;
							color: white;
							font-size: 1.375em;
							line-height: 1.2;
							@include for-mid-foundation-up {
								font-size: 1.5em;
							}
						}
						.route-detail-title-eng {
							font-size: 1.125em;
							@include for-mid-foundation-up {
								font-size: 1.375em
							}
						}
					}
					.route-detail-location-block {
						padding-top: 30px;
						display: flex;
						flex-wrap: wrap;
						background: #dededc;
						padding-left: 0.9375em;
						padding-right: 0.9375em;
						@include for-tablet-landscape-up {
							background: none;
							padding-left: 0;
							padding-right: 0;
						}
						.route-detail-location {
							max-width: 180px;
							margin: 0 50px 15px 0;
							position: relative;
							@include for-phone-only {
								max-width: 250px;
							}
							&:after {
								content: "";
								display: block;
								width: 20px;
								height: 20px;
								background: url(../images/arrow-right-solid.svg) no-repeat;
								position: absolute;
								right: -35px;
								top: 0;
								bottom: 0;
								margin: auto;
							}
							&:last-child:after {
								display: none;
							}
							span {
								display: block;
								font-size: 1em;
								color: $default;
								@include for-phone-only {
									font-size: 1.125em;
								}
								@include for-mid-foundation-up {
									font-size: 1.375em;
								}
							}
							.route-detail-block-eng {
								font-size: 0.875em;
								@include for-phone-only {
									font-size: 1em;
								}
								@include for-mid-foundation-up {
									font-size: 1.125em;
								}
							}
						}
					}
					.route-detail-divider {
						width: 100%;
						height: 4px;
						background: $red;
						display: none;
						@include for-tablet-landscape-up {
							display: block;
						}
					}
					.route-detail-text {
						padding-top: 30px;
						padding-left: 0.9375em;
						padding-right: 0.9375em;
						@include for-tablet-landscape-up {
							padding-left: 0;
							padding-right: 0;
						}
						p {
							font-size: 1.125em;
							color: $default;
							@include for-mid-foundation-up {
								font-size: 1.375em;
							}
						}
						.route-detail-text-eng {
							font-size: 1em;
							@include for-mid-foundation-up {
								font-size: 1.125em;
							}
						}
						.route-gather {
							margin-bottom: 20px;
							.gather-title {
								display: inline-block;
								background: $red;
								padding: 5px 15px;
								margin-right: 10px;
								vertical-align: middle;
								p {
									font-size: 1em;
									margin-bottom: 0;
									line-height: 1.2;
									color: white;
								}
							}
						}
					}
					.route-sign-up {
						display: block;
						position: absolute;
						right: 0;
						top: auto;
						bottom: 0;
						width: 150px;
						height: 35px;
						background: $yellow;
						@include transition(all .3s);
						@include for-tablet-landscape-up {
							right: -75px;
							top: -75px;
							transform: rotate(45deg);
							width: 150px;
							height: 150px
						}
						p {
							color: $red;
							position: absolute;
							bottom: 5px;
							text-align: center;
							left: 0;
							right: 0;
							margin: auto;
							@include transition(all .3s);
							@include for-tablet-landscape-up {
								bottom: 10px;
							}
						}
						&:hover {
							background: $red;
							p {
								color: $yellow;
							}
						}
					}
				}
			}
		}
	}
}