.timeline-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	.timeline-content-wrap {
		margin: 2em 0em;
		border: none;
		border-bottom: 4px solid $red;
		@include for-tablet-portrait-up {
			margin: 2em 0.9375em;
			border: 4px solid $red;
		}
		.timeline-box {
			position: absolute;
			opacity: 0;
			top: 0;
			z-index: -99;
			@include transition(all .3s);
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			@include for-768-up {
				flex-wrap: no-wrap;
			}
		}
		.current-timeline-box {
			opacity: 1;
			z-index: 1;
			position: relative;
		}
		.timeline-img {
			width: 100%;
			max-width: 100%;
			@include for-768-up {
				max-width: 55%;
			}
		}
		.timeline-des-wrap {
			width: 100%;
			max-width: 100%;
			text-align: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			@include for-768-up {
				display: block;
			}
			.timeline-content-head {
				display: block;
				background: #da3721; /* Old browsers */
				background: -moz-linear-gradient(left, #da3721 0%, #502470 100%); /* FF3.6-15 */
				background: -webkit-linear-gradient(left, #da3721 0%,#502470 100%); /* Chrome10-25,Safari5.1-6 */
				background: linear-gradient(to right, #da3721 0%,#502470 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da3721', endColorstr='#502470',GradientType=1 ); /* IE6-9 */
				padding: 15px 10px;
				margin-bottom: 0;
				text-align: left;
				display: inline-block;
				@include for-768-up {
					text-align: center;
					display: block;
					padding: 15px 30px;
					margin-bottom: 50px;
				}
				p {
					font-size: 1.75em;
					color: white;
					margin-bottom: 0;
				}
				p.timeline-header-eng {
					font-size: 1.25em;
				}
			}
			p.timeline-des-p {
				font-size: 1.375em;
				margin-bottom: 20px;
				padding: 0 1rem;
				margin-top: 50px;
				@include for-768-up {
					margin-top: 0;
				}
			}
			p.timeline-des-p-eng {
				font-size: 1.125em;
			}
			.timeline-sub-head {
				font-size: 1.375em;
				margin: 0 auto;
				flex-grow: 1;
				align-self: center;
				text-align: left;
				padding: 0 1rem;
				@include for-768-up {
					margin: 0 auto 20px auto;
					text-align: center;
					position: relative;
					text-align: center;
				}
				span {
					color: $purple;
					display: block;
					line-height: 1.2;
				}
			}
			@include for-768-up {
				max-width: 43%;
				margin: 2% 1%;
				.timeline-content-head {
					display: inline-block;
					p {
						font-size: 2em;
					}
					p.eng-timeline-header {
						font-size: 1.5em;
					}
				}
				p {
					font-size: 1.75em;
				}
				p.eng-timeline-des-p {
					font-size: 1.375em;
				}
			}
		}
	}
	.timeline-times-wrap {
		padding: 2.5em 0em 2em 0em;
		@include for-tablet-portrait-up {
			padding: 2.5em 0.9375em 2em 0.9375em;
		}
		.timeline-time-box {
			border-top: none;
			padding: 15px 0;
			position: relative;
			@include for-tablet-portrait-up {
				border-top: 4px solid $red;
			}
			.timeline-group {
				display: flex;
				flex-wrap: no-wrap;
				justify-content: space-around;
				.timelines {
					margin: 0 10px;
					text-align: center;
					cursor: pointer;
					position: relative;
					z-index: 10;
					padding-top: 100px;
					margin-top: -100px;
					flex-grow: 1;
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 60px;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						width: 30px;
						height: 30px;
						@include radius(15px);
						border: 6px solid $red;
						background: white;
						@include transition(all .3s);
						@include for-tablet-portrait-up {
							top: 68px;
						}
					}
					p {
						font-size: 1em;
						margin-bottom: 0;
						color: $default;
						@include transition(all .3s);
						@include for-768-up {
							font-size: 1.375em;
						}
					}
					.timelines-eng {
						font-size: 0.875em;
						@include for-768-up {
							font-size: 1.125em;
						}
					}
					&:hover {
						&:after {
							content: '';
							display: block;
							position: absolute;
							top: 40px;
							left: 0;
							right: 0;
							margin-left: auto;
							margin-right: auto;
							width: 30px;
							height: 30px;
							@include radius(15px);
							border: none;
							background: #da3721; /* Old browsers */
							background: -moz-linear-gradient(left, #da3721 0%, #502470 100%); /* FF3.6-15 */
							background: -webkit-linear-gradient(left, #da3721 0%,#502470 100%); /* Chrome10-25,Safari5.1-6 */
							background: linear-gradient(to right, #da3721 0%,#502470 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
							filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da3721', endColorstr='#502470',GradientType=1 ); /* IE6-9 */
							@include for-tablet-portrait-up {
								top: 25px;
							}
						}
						p {
							color: $purple;
						}
					}
				}
				.current-timeline {
					&:before {
						content: '';
						display: none;
						position: absolute;
						width: 4px;
						height: 20px;
						background: $red;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						top: 5px;
						@include for-tablet-portrait-up {
							display: block;
						}
					}
					&:after {
						content: '';
						display: block;
						position: absolute;
						top: 40px;
						left: 0;
						right: 0;
						margin-left: auto;
						margin-right: auto;
						width: 30px;
						height: 30px;
						@include radius(15px);
						border: none;
						background: #da3721; /* Old browsers */
						background: -moz-linear-gradient(left, #da3721 0%, #502470 100%); /* FF3.6-15 */
						background: -webkit-linear-gradient(left, #da3721 0%,#502470 100%); /* Chrome10-25,Safari5.1-6 */
						background: linear-gradient(to right, #da3721 0%,#502470 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
						filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da3721', endColorstr='#502470',GradientType=1 ); /* IE6-9 */
						@include for-tablet-portrait-up {
							top: 25px;
						}
					}
					p {
						color: $purple;
					}
				}
				#pointer {
					position: absolute; 
					top: -76px; 
					left: 0; 
					width: 0;
					height: 0;
					border-left: 14px solid transparent;
					border-right: 14px solid transparent;
					border-top: 34px solid red;
					border-bottom: none;
					z-index: 5;
					@include for-tablet-portrait-up {
						top: -37px;
						border-left: 14px solid transparent;
						border-right: 14px solid transparent;
						border-bottom: 34px solid red;
						border-top: none;
					}
					&:after {
						content: "";
						display: block;
						position: absolute;
						bottom: 12px;
						left: -11px;
						width: 0;
						height: 0;
						border-left: 11px solid transparent;
						border-right: 11px solid transparent;
						border-top: 27px solid white;
						border-bottom: none;
						@include for-tablet-portrait-up {
							bottom: -38px;
							border-left: 11px solid transparent;
							border-right: 11px solid transparent;
							border-bottom: 27px solid white;
							border-top: none;
						}
					}
				}
			}
		}
	}
}