.work-content {
	width: 100%;
	max-width: 1280px;
	margin: 0 auto;
	height: 100%;
	min-height: 100%;
	.work-content-head-img {
		display: none;
		width: 100%;
		padding-bottom: 40%;
		background: center center no-repeat;
		background-size: cover;
		position: relative;
		z-index: 2;
		@include for-tablet-portrait-up {
			display: block;
		}
	}
	.work-content-wrap {
		background: #e0e0df;
		position: relative;
		.work-content-block {
			width: 100%;
			height: auto;
			margin: 40px 0;
			max-width: 100%;
			position: relative;
			z-index: 2;
			.image-wrap {
				text-align: center;
				display: none;
				@include for-bootstrap-lg-up {
					display: block;
				}
				img {
					margin-bottom: 20px;
					width: auto;
					max-width: 100%;
				}
			}
			.work-carousel-wrap {
				display: block;
				@include for-bootstrap-lg-up {
					display: none;
				}
			}
			.thumbnails {
				width: 100%;
				display: flex;
				.thumbnail-img {
					margin: 10px 5px;
					width: 133px;
					height: 75px;
					background-size: cover;
					background-position: center center;
					cursor: pointer;
					opacity: 0.7;
					@include transition(all .3s);
					&:hover {
						opacity: 1;
					}
					@include for-480-only {
						height: 95px;
					}
				}
				.thumbnail-active {
					opacity: 1;
				}
			}
			.work-info-wrap {
				text-align: center;
				margin-top: 30px;
				position: relative;
				@include for-tablet-landscape-up {
					margin-top: 0;
				}
				span {
					color: $default;
					margin-bottom: 0;
					display: block;
				}
				.work-info-title {
					text-align: left;
					@include for-tablet-landscape-up {
						text-align: center;
					}
					span {
						font-size: 2.25em;
						line-height: 1.2;
					}
					.work-info-title-eng {
						font-size: 2em;
					}
				}
				.work-info-type {
					display: inline-block;
					margin-top: 0;
					padding: 10px 20px;
					position: absolute;
					right: 15px;
					top: 0;
					@include for-tablet-landscape-up {
						position: relative;
						margin-top: 20px;
						right: 0;
					}
					span {
						font-size: 1.25em;
						color: white;
					}
					.work-info-type-eng {
						font-size: 1em;
					}
				}
				.work-info-type-performance {
					background: $red;
				}
				.work-info-type-visual {
					background: $purple;
				}
				.work-info-type-activity {
					background: $green;
				}
				.work-info-type-program {
					background: $pink;
				}
				.work-info-artist {
					margin-top: 20px;
					text-align: left;
					border-bottom: 4px solid $red;
					padding-bottom: 10px;
					@include for-tablet-landscape-up {
						text-align: center;
						border-bottom: none;
						padding-bottom: 0;
					}
					span {
						font-size: 1.375em;
					}
					.work-info-artist-eng {
						font-size: 1em;
					}
				}
				.work-info-time, .work-info-location {
					margin: 20px auto 0 auto;
					width: 100%;
					padding-bottom: 5px;
					border-bottom: none;
					text-align: left;
					@include for-tablet-landscape-up {
						width: 80%;
						text-align: center;
						border-bottom: 4px solid $red;
					}
					span {
						font-size: 1.125em;
					}
				}
				.work-info-location {
					border-bottom: 4px solid $red;
				}
				.work-info-text, .work-info-artist-text {
					margin-top: 20px;
					span {
						font-size: 1.125em;
					}
					.work-info-text-eng {
						font-size: 1em;
					}
				}
				.work-btn-wrap {
					margin-top: 40px;
					display: flex;
					justify-content: space-around;
					border-top: 4px solid $red;
					padding-top: 40px;
					@include for-tablet-landscape-up {
						border-top: none;
						padding-top: 0;
					}
					.back-to-art-list {
						background: rgba(255,241,0, 1);
						text-decoration: none;
						padding: 5px 15px 5px 25px;
						position: relative;
						border: 2px solid #fff100;
						@include radius(10px);
						@include transition(all .3s);
						&:before {
							content: "<";
							display: block;
							position: absolute;
							color: $purple;
							top: 14px;
							bottom: 0;
							left: 10px;
						}
						span {
							color: $purple;
							line-height: 1.2;
							font-size: 1em;
							@include for-480-only {
								font-size: 1.25em;
							}
						}
						.back-to-art-list-eng {
							font-size: 1em;
							@include for-480-only {
								font-size: 1em;
							}
						}
						&:hover {
							background: rgba(255,241,0, .5);
						}
					}
					.work-map-btn {
						background: white;
						border: 2px solid $red;
						text-decoration: none;
						padding: 5px 35px 5px 15px;
						position: relative;
						@include transition(all .3s);
						&:before {
							content: url(../images/location-icon-purple.svg);
							display: block;
							width: 18px;
							height: 24px;
							position: absolute;
							right: 10px;
							top: 0;
							bottom: 0;
							margin: auto;
						}
						span {
							color: $red;
							line-height: 1.2;
							font-size: 1.25em;
							@include transition(all .3s);
							font-size: 1em;
							@include for-480-only {
								font-size: 1.25em;
							}
						}
						.work-map-btn-eng {
							font-size: 1em;
							@include for-480-only {
								font-size: 1em;
							}
						}
						&:hover {
							background: $red;
							span {
								color: white;
							}
						}
					}
				}
			}
		}
	}
}