.blob-menu-wrap
	.blob-menu-1
		a(href="art.html")
			.blob-div
				span 藝
				span.eng-blob Art
	.blob-menu-2
		a(href="hun.html")
			.blob-div
				span 出來「混」
				span.eng-blob hún
	.blob-menu-3
		a(href="reversed-city.html")
			.blob-div
				span 點島之城
				span.eng-blob The Reversed City
	.blob-menu-4
		a(href="dresscode.html")
			.blob-div
				span 中山裝
				span.eng-blob Dresscode
	.blob-menu-5
		a(href="local-participant.html")
			.blob-div
				span 在地參與
				span.eng-blob Local Participant
	.blob-menu-7
		a(href="business.html")
			.blob-div
				span 企
				span.eng-blob Business
	.blob-menu-8
		a(href="global-network.html")
			.blob-div
				span 全球白晝
				span.eng-blob Global Network
	.blob-menu-9
		a(href="zhong.html")
			.blob-div
				span 中山北路
				span.eng-blob Zhong
