#index-carousel.carousel.slide(data-ride="carousel")
	.carousel-inner
		- var carousel = [{image: "background-image: url('../images/carousel1.jpg')", alt: "slide1", active: "active"}, { image: "background-image: url('../images/carousel2.jpg')", alt: "slide2"}, {image: "background-image: url('../images/carousel3.jpg')", alt: "slide3"}]
			each slide in carousel
				.carousel-item(class=slide.active)
					.d-block.w-100(style=slide.image, alt=slide.alt)
	a.carousel-control-prev(href="#index-carousel", role="button", data-slide="prev")
		span.carousel-control-prev-icon(aria-hidden="true")
		span.sr-only Previous
	a.carousel-control-next(href="#index-carousel", role="button", data-slide="next")
		span.carousel-control-next-icon(aria-hidden="true")
		span.sr-only Next