.index-route-wrap#route-map
	.index-route-head
		h4.text-head
			span 白晝攻略
			span.eng-text-head Guide
	.index-route-filter
		nav
			#nav-tab.nav.nav-tabs(role="tablist")
				a#nav-north-tab.nav-item.nav-link.active(data-toggle="tab", href="#nav-north", role="tab", aria-controls="nav-north", aria-selectred="true") 
					span 北區攻略
					span.eng-nav-item Northern Area
				a#nav-south-tab.nav-item.nav-link(data-toggle="tab", href="#nav-south", role="tab", aria-controls="nav-south", aria-selectred="false") 
					span 南區攻略
					span.eng-nav-item Southern Area
			#nav-tabContent.tab-content
				#nav-north.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="nav-north-tab") 
					.north-location-wrap
						- var routes = [{location: "北區-全部", locationEng: "Northern All", tag: "all", active: "location-active"}, {location: "圓山站都邊", locationEng: "Around MRT Yuanshan Station", tag: "mrt-yuanshan-station"}, {location: "台北市立美術館周邊",  locationEng: "Around Taipei Fine Art Museum",tag: "taipei-fine-art-museum"}, {location: "舞蝶館周邊", locationEng: "Around Expo Hall", tag: "expo-hall"}, {location: "聖多福教堂周邊", locationEng: "Around St. Christopher Church", tag: "st-christopher-church"}]
							each place in routes
								.north-location(tag=place.tag, class=place.active)
									span=place.location
									span.eng-route=place.locationEng
					.north-type-filter-wrap
						-var types = [{type: "顯示所有", tag: "type-all", typeEng: "Display All", color: "type-black", active: "type-active"}, {type: "裝置作品", typeEng: "Visual Art Work", tag: "type-visual", color: "type-purple"}, {type: "表演活動", typeEng: "Performance", tag: "type-show", color: "type-red"}, {type: "體驗活動", typeEng: "Activity", tag: "type-interaction", color: "type-green"}, {type: "響應串連", typeEng: "Off-Program", tag: "type-program", color: "type-pink"}]
							each type in types
								.north-type-filter(tag=type.tag, class=type.color, class=type.active)
									span=type.type
									span.eng-type=type.typeEng
				#nav-south.tab-pane.fade(role="tabpanel", aria-labelledby="nav-south-tab")
					.south-location-wrap
						- var routes = [{location: "南區-全部", locationEng: "Southern All", tag: "all", active: "location-active"}, {location: "雙連站周邊", locationEng: "Around MRT Shuanglian Station", tag: "mrt-shuanglian-station"}, {location: "中山站周邊", locationEng: "Around MRT Zhongshan Station", tag: "mrt-zhongshan-station"}, {location: "南京林森路口週邊", locationEng: "Around Nanjing Linsen Intersection", tag: "nanjing-linsen-intersection"}, {location: "台北當代藝術館周邊", locationEng: "Around Museum of Contemporary Art", tag: "museum-of-contemporary-art"}]
							each place in routes
								.south-location(tag=place.tag, class=place.active)
									span=place.location
									span.eng-route=place.locationEng
					.south-type-filter-wrap
						-var types = [{type: "顯示所有", tag: "type-all", typeEng: "Display", color: "type-black", active: "type-active"}, {type: "裝置作品", typeEng: "Visual Art Work", tag: "type-visual", color: "type-purple"}, {type: "表演活動", typeEng: "Performance", tag: "type-show", color: "type-red"}, {type: "體驗活動", typeEng: "Activity", tag: "type-interaction", color: "type-green"}, {type: "響應串連", typeEng: "Off-Program", tag: "type-program", color: "type-pink"}]
							each type in types
								.south-type-filter(tag=type.tag, class=type.color, class=type.active)
									span=type.type
									span.eng-type=type.typeEng
#map
.map-download-wrap
	button.map-download 下載地圖
.map-infoPanel-wrap.container
	.infoPanel-box.row
	.pagination
		span.page-active(pageNo="1") 1
		span(pageNo="2") 2